In [1]:
import pandas as pd
import numpy as np

In [164]:
#Read all the data files related to population over the years
population2015 = pd.read_csv("ACSST1Y2015.S0103-Data.csv")
population2016 = pd.read_csv("ACSST1Y2016.S0103-Data.csv")
population2017 = pd.read_csv("ACSST1Y2017.S0103-Data.csv")
population2018 = pd.read_csv("ACSST1Y2018.S0103-Data.csv")
population2019 = pd.read_csv("ACSST1Y2019.S0103-Data.csv")
population2020 = pd.read_csv("ACSST1Y2020.S0103-Data.csv")

In [165]:
population2015.head()

,GEO_ID,NAME,S0103_C01_001E,S0103_C01_001EA,S0103_C01_001M,S0103_C01_001MA,S0103_C02_001E,S0103_C02_001M,S0103_C02_001MA,S0103_C02_001EA,...,S0103_C02_103MA,S0103_C01_104E,S0103_C01_104EA,S0103_C01_104M,S0103_C01_104MA,S0103_C02_104E,S0103_C02_104EA,S0103_C02_104M,S0103_C02_104MA,Unnamed: 834
0,0400000US01,Alabama,4858979.0,NaN,*****,*****,761847.0,2695.0,NaN,NaN,...,NaN,729.0,NaN,9.0,NaN,602.0,NaN,32.0,NaN,NaN
1,0400000US02,Alaska,738432.0,NaN,*****,*****,71008.0,1096.0,NaN,NaN,...,NaN,1163.0,NaN,25.0,NaN,843.0,NaN,78.0,NaN,NaN
2,0400000US04,Arizona,6828065.0,NaN,*****,*****,1120004.0,1647.0,NaN,NaN,...,NaN,933.0,NaN,9.0,NaN,858.0,NaN,21.0,NaN,NaN
3,0400000US05,Arkansas,2978204.0,NaN,*****,*****,478114.0,1779.0,NaN,NaN,...,NaN,695.0,NaN,8.0,NaN,595.0,NaN,25.0,NaN,NaN
4,0400000US06,California,39144818.0,NaN,*****,*****,5189558.0,2790.0,NaN,NaN,...,NaN,1311.0,NaN,5.0,NaN,1014.0,NaN,13.0,NaN,NaN

In [166]:
p2015 = population2015[['NAME','S0103_C01_001E']]
p2015["2015"] = p2015["S0103_C01_001E"]

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/2932478772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2015["2015"] = p2015["S0103_C01_001E"]

In [167]:
p2015.head()

         NAME  S0103_C01_001E        2015
0     Alabama       4858979.0   4858979.0
1      Alaska        738432.0    738432.0
2     Arizona       6828065.0   6828065.0
3    Arkansas       2978204.0   2978204.0
4  California      39144818.0  39144818.0

In [168]:
p2015 = p2015.drop(['S0103_C01_001E'], axis=1)

In [169]:
#Population of all the states in the year 2015
p2015.head()

         NAME        2015
0     Alabama   4858979.0
1      Alaska    738432.0
2     Arizona   6828065.0
3    Arkansas   2978204.0
4  California  39144818.0

In [170]:
p2016 = population2016[['S0103_C01_001E']]
p2016["2016"] = p2016["S0103_C01_001E"]

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/4203691331.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2016["2016"] = p2016["S0103_C01_001E"]

In [171]:
p2016 = p2016.drop(['S0103_C01_001E'], axis=1)

In [172]:
#Population of all the states in the year 2016
p2016.head()

         2016
0   4863300.0
1    741894.0
2   6931071.0
3   2988248.0
4  39250017.0

In [173]:
p2017 = population2017[['S0103_C01_001E']]
p2017["2017"] = p2017["S0103_C01_001E"]

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/750473076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2017["2017"] = p2017["S0103_C01_001E"]

In [174]:
p2017 = p2017.drop(['S0103_C01_001E'], axis=1)

In [175]:
#Population of all the states in the year 2017
p2017.head()

         2017
0   4874747.0
1    739795.0
2   7016270.0
3   3004279.0
4  39536653.0

In [176]:
p2018 = population2018[['S0103_C01_001E']]
p2018["2018"] = p2018["S0103_C01_001E"]

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/2805976968.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2018["2018"] = p2018["S0103_C01_001E"]

In [177]:
p2018 = p2018.drop(['S0103_C01_001E'], axis=1)

In [178]:
#Population of all the states in the year 2018
p2018.head()

         2018
0   4887871.0
1    737438.0
2   7171646.0
3   3013825.0
4  39557045.0

In [179]:
p2019 = population2019[['S0103_C01_001E']]
p2019["2019"] = p2019["S0103_C01_001E"]

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/179462724.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2019["2019"] = p2019["S0103_C01_001E"]

In [180]:
p2019 = p2019.drop(['S0103_C01_001E'], axis=1)

In [181]:
#Population of all the states in the year 2019
p2019.head()

         2019
0   4903185.0
1    731545.0
2   7278717.0
3   3017804.0
4  39512223.0

In [182]:
p2020 = population2020[['POPESTIMATE2020','POPESTIMATE2021']]
p2020["2020"] = p2020["POPESTIMATE2020"]
p2020["2021"] = p2020["POPESTIMATE2021"]

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/764932685.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2020["2020"] = p2020["POPESTIMATE2020"]
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/764932685.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2020["2021"] = p2020["POPESTIMATE2021"]

In [183]:
p2020 = p2020.drop(['POPESTIMATE2020','POPESTIMATE2021'], axis=1)

In [184]:
#Population of all the states in the year 2020 & 2021
p2020

        2020      2021
0    5024803   5039877
1     732441    732673
2    7177986   7276316
3    3012232   3025891
4   39499738  39237836
5    5784308   5812069
6    3600260   3605597
7     991886   1003384
8     690093    670050
9   21569932  21781128
10  10725800  10799566
11   1451911   1441553
12   1847772   1900923
13  12785245  12671469
14   6785644   6805985
15   3188669   3193079
16   2935880   2934582
17   4503958   4509394
18   4651203   4624047
19   1362280   1372247
20   6172679   6165129
21   7022220   6984723
22  10067664  10050811
23   5707165   5707390
24   2956870   2949965
25   6154481   6168187
26   1086193   1104271
27   1961455   1963692
28   3114071   3143991
29   1377848   1388992
30   9279743   9267130
31   2117566   2115877
32  20154933  19835913
33  10457177  10551162
34    778962    774948
35  11790587  11780017
36   3962031   3986639
37   4241544   4246155
38  12989625  12964056
39   1096229   1095610
40   5130729   5190705
41    887099    895376
42   6920119   6975218
43  29217653  29527941
44   3281684   3337975
45    642495    645570
46   8632044   8642274
47   7718785   7738692
48   1789798   1782959
49   5892323   5895908
50    577267    578803
51   3281538   3263584

In [185]:
#concatenation of all the population data sets into one dataframe
population = pd.concat([p2015, p2016, p2017, p2018, p2019, p2020],axis=1)
population

,NAME,2015,2016,2017,2018,2019,2020,2021
0,Alabama,4858979.0,4863300.0,4874747.0,4887871.0,4903185.0,5024803,5039877
1,Alaska,738432.0,741894.0,739795.0,737438.0,731545.0,732441,732673
2,Arizona,6828065.0,6931071.0,7016270.0,7171646.0,7278717.0,7177986,7276316
3,Arkansas,2978204.0,2988248.0,3004279.0,3013825.0,3017804.0,3012232,3025891
4,California,39144818.0,39250017.0,39536653.0,39557045.0,39512223.0,39499738,39237836
5,Colorado,5456574.0,5540545.0,5607154.0,5695564.0,5758736.0,5784308,5812069
6,Connecticut,3590886.0,3576452.0,3588184.0,3572665.0,3565287.0,3600260,3605597
7,Delaware,945934.0,952065.0,961939.0,967171.0,973764.0,991886,1003384
8,District of Columbia,672228.0,681170.0,693972.0,702455.0,705749.0,690093,670050
9,Florida,20271272.0,20612439.0,20984400.0,21299325.0,21477737.0,21569932,21781128
10,Georgia,10214860.0,10310371.0,10429379.0,10519475.0,10617423.0,10725800,10799566
11,Hawaii,1431603.0,1428557.0,1427538.0,1420491.0,1415872.0,1451911,1441553
12,Idaho,1654930.0,1683140.0,1716943.0,1754208.0,1787065.0,1847772,1900923
13,Illinois,12859995.0,12801539.0,12802023.0,12741080.0,12671821.0,12785245,12671469
14,Indiana,6619680.0,6633053.0,6666818.0,6691878.0,6732219.0,6785644,6805985
15,Iowa,3123899.0,3134693.0,3145711.0,3156145.0,3155070.0,3188669,3193079
16,Kansas,2911641.0,2907289.0,2913123.0,2911510.0,2913314.0,2935880,2934582
17,Kentucky,4425092.0,4436974.0,4454189.0,4468402.0,4467673.0,4503958,4509394
18,Louisiana,4670724.0,4681666.0,4684333.0,4659978.0,4648794.0,4651203,4624047
19,Maine,1329328.0,1331479.0,1335907.0,1338404.0,1344212.0,1362280,1372247
20,Maryland,6006401.0,6016447.0,6052177.0,6042718.0,6045680.0,6172679,6165129
21,Massachusetts,6794422.0,6811779.0,6859819.0,6902149.0,6892503.0,7022220,6984723
22,Michigan,9922576.0,9928300.0,9962311.0,9995915.0,9986857.0,10067664,10050811
23,Minnesota,5489594.0,5519952.0,5576606.0,5611179.0,5639632.0,5707165,5707390
24,Mississippi,2992333.0,2988726.0,2984100.0,2986530.0,2976149.0,2956870,2949965
25,Missouri,6083672.0,6093000.0,6113532.0,6126452.0,6137428.0,6154481,6168187
26,Montana,1032949.0,1042520.0,1050493.0,1062305.0,1068778.0,1086193,1104271
27,Nebraska,1896190.0,1907116.0,1920076.0,1929268.0,1934408.0,1961455,1963692
28,Nevada,2890845.0,2940058.0,2998039.0,3034392.0,3080156.0,3114071,3143991
29,New Hampshire,1330608.0,1334795.0,1342795.0,1356458.0,1359711.0,1377848,1388992
30,New Jersey,8958013.0,8944469.0,9005644.0,8908520.0,8882190.0,9279743,9267130
31,New Mexico,2085109.0,2081015.0,2088070.0,2095428.0,2096829.0,2117566,2115877
32,New York,19795791.0,19745289.0,19849399.0,19542209.0,19453561.0,20154933,19835913
33,North Carolina,10042802.0,10146788.0,10273419.0,10383620.0,10488084.0,10457177,10551162
34,North Dakota,756928.0,757953.0,755393.0,760077.0,762062.0,778962,774948
35,Ohio,11613423.0,11614373.0,11658609.0,11689442.0,11689100.0,11790587,11780017
36,Oklahoma,3911338.0,3923561.0,3930864.0,3943079.0,3956971.0,3962031,3986639
37,Oregon,4028977.0,4093465.0,4142776.0,4190713.0,4217737.0,4241544,4246155
38,Pennsylvania,12802503.0,12784227.0,12805537.0,12807060.0,12801989.0,12989625,12964056
39,Rhode Island,1056298.0,1056426.0,1059639.0,1057315.0,1059361.0,1096229,1095610
40,South Carolina,4896146.0,4961119.0,5024369.0,5084127.0,5148714.0,5130729,5190705
41,South Dakota,858469.0,865454.0,869666.0,882235.0,884659.0,887099,895376
42,Tennessee,6600299.0,6651194.0,6715984.0,6770010.0,6829174.0,6920119,6975218
43,Texas,27469114.0,27862596.0,28304596.0,28701845.0,28995881.0,29217653,29527941
44,Utah,2995919.0,3051217.0,3101833.0,3161105.0,3205958.0,3281684,3337975
45,Vermont,626042.0,624594.0,623657.0,626299.0,623989.0,642495,645570
46,Virginia,8382993.0,8411808.0,8470020.0,8517685.0,8535519.0,8632044,8642274
47,Washington,7170351.0,7288000.0,7405743.0,7535591.0,7614893.0,7718785,7738692
48,West Virginia,1844128.0,1831102.0,1815857.0,1805832.0,1792147.0,1789798,1782959
49,Wisconsin,5771337.0,5778709.0,5795483.0,5813568.0,5822434.0,5892323,5895908
50,Wyoming,586107.0,585501.0,579315.0,577737.0,578759.0,577267,578803
51,Puerto Rico,NaN,NaN,NaN,NaN,NaN,3281538,3263584

In [186]:
#population cannot be decimals so converted it into integer
population["2015"] = population["2015"].apply(np.int64)
population["2016"] = population["2016"].apply(np.int64)
population["2017"] = population["2017"].apply(np.int64)
population["2018"] = population["2018"].apply(np.int64)
population["2019"] = population["2019"].apply(np.int64)
population["2020"] = population["2020"].apply(np.int64)
population["2021"] = population["2021"].apply(np.int64)

ValueError: cannot convert float NaN to integer

In [187]:
#As the above code didn't work, checking for any null values
population.isna().sum()

NAME    0
2015    1
2016    1
2017    1
2018    1
2019    1
2020    0
2021    0
dtype: int64

In [188]:
#dropping the null values
population = population.drop(51)

In [189]:
#population cannot be decimals so converted it into integer
population["2015"] = population["2015"].apply(np.int64)
population["2016"] = population["2016"].apply(np.int64)
population["2017"] = population["2017"].apply(np.int64)
population["2018"] = population["2018"].apply(np.int64)
population["2019"] = population["2019"].apply(np.int64)
population["2020"] = population["2020"].apply(np.int64)
population["2021"] = population["2021"].apply(np.int64)

In [190]:
population

,NAME,2015,2016,2017,2018,2019,2020,2021
0,Alabama,4858979,4863300,4874747,4887871,4903185,5024803,5039877
1,Alaska,738432,741894,739795,737438,731545,732441,732673
2,Arizona,6828065,6931071,7016270,7171646,7278717,7177986,7276316
3,Arkansas,2978204,2988248,3004279,3013825,3017804,3012232,3025891
4,California,39144818,39250017,39536653,39557045,39512223,39499738,39237836
5,Colorado,5456574,5540545,5607154,5695564,5758736,5784308,5812069
6,Connecticut,3590886,3576452,3588184,3572665,3565287,3600260,3605597
7,Delaware,945934,952065,961939,967171,973764,991886,1003384
8,District of Columbia,672228,681170,693972,702455,705749,690093,670050
9,Florida,20271272,20612439,20984400,21299325,21477737,21569932,21781128
10,Georgia,10214860,10310371,10429379,10519475,10617423,10725800,10799566
11,Hawaii,1431603,1428557,1427538,1420491,1415872,1451911,1441553
12,Idaho,1654930,1683140,1716943,1754208,1787065,1847772,1900923
13,Illinois,12859995,12801539,12802023,12741080,12671821,12785245,12671469
14,Indiana,6619680,6633053,6666818,6691878,6732219,6785644,6805985
15,Iowa,3123899,3134693,3145711,3156145,3155070,3188669,3193079
16,Kansas,2911641,2907289,2913123,2911510,2913314,2935880,2934582
17,Kentucky,4425092,4436974,4454189,4468402,4467673,4503958,4509394
18,Louisiana,4670724,4681666,4684333,4659978,4648794,4651203,4624047
19,Maine,1329328,1331479,1335907,1338404,1344212,1362280,1372247
20,Maryland,6006401,6016447,6052177,6042718,6045680,6172679,6165129
21,Massachusetts,6794422,6811779,6859819,6902149,6892503,7022220,6984723
22,Michigan,9922576,9928300,9962311,9995915,9986857,10067664,10050811
23,Minnesota,5489594,5519952,5576606,5611179,5639632,5707165,5707390
24,Mississippi,2992333,2988726,2984100,2986530,2976149,2956870,2949965
25,Missouri,6083672,6093000,6113532,6126452,6137428,6154481,6168187
26,Montana,1032949,1042520,1050493,1062305,1068778,1086193,1104271
27,Nebraska,1896190,1907116,1920076,1929268,1934408,1961455,1963692
28,Nevada,2890845,2940058,2998039,3034392,3080156,3114071,3143991
29,New Hampshire,1330608,1334795,1342795,1356458,1359711,1377848,1388992
30,New Jersey,8958013,8944469,9005644,8908520,8882190,9279743,9267130
31,New Mexico,2085109,2081015,2088070,2095428,2096829,2117566,2115877
32,New York,19795791,19745289,19849399,19542209,19453561,20154933,19835913
33,North Carolina,10042802,10146788,10273419,10383620,10488084,10457177,10551162
34,North Dakota,756928,757953,755393,760077,762062,778962,774948
35,Ohio,11613423,11614373,11658609,11689442,11689100,11790587,11780017
36,Oklahoma,3911338,3923561,3930864,3943079,3956971,3962031,3986639
37,Oregon,4028977,4093465,4142776,4190713,4217737,4241544,4246155
38,Pennsylvania,12802503,12784227,12805537,12807060,12801989,12989625,12964056
39,Rhode Island,1056298,1056426,1059639,1057315,1059361,1096229,1095610
40,South Carolina,4896146,4961119,5024369,5084127,5148714,5130729,5190705
41,South Dakota,858469,865454,869666,882235,884659,887099,895376
42,Tennessee,6600299,6651194,6715984,6770010,6829174,6920119,6975218
43,Texas,27469114,27862596,28304596,28701845,28995881,29217653,29527941
44,Utah,2995919,3051217,3101833,3161105,3205958,3281684,3337975
45,Vermont,626042,624594,623657,626299,623989,642495,645570
46,Virginia,8382993,8411808,8470020,8517685,8535519,8632044,8642274
47,Washington,7170351,7288000,7405743,7535591,7614893,7718785,7738692
48,West Virginia,1844128,1831102,1815857,1805832,1792147,1789798,1782959
49,Wisconsin,5771337,5778709,5795483,5813568,5822434,5892323,5895908
50,Wyoming,586107,585501,579315,577737,578759,577267,578803

In [191]:
#Removal of inconsistent data
population = population.drop(8)
population

,NAME,2015,2016,2017,2018,2019,2020,2021
0,Alabama,4858979,4863300,4874747,4887871,4903185,5024803,5039877
1,Alaska,738432,741894,739795,737438,731545,732441,732673
2,Arizona,6828065,6931071,7016270,7171646,7278717,7177986,7276316
3,Arkansas,2978204,2988248,3004279,3013825,3017804,3012232,3025891
4,California,39144818,39250017,39536653,39557045,39512223,39499738,39237836
5,Colorado,5456574,5540545,5607154,5695564,5758736,5784308,5812069
6,Connecticut,3590886,3576452,3588184,3572665,3565287,3600260,3605597
7,Delaware,945934,952065,961939,967171,973764,991886,1003384
9,Florida,20271272,20612439,20984400,21299325,21477737,21569932,21781128
10,Georgia,10214860,10310371,10429379,10519475,10617423,10725800,10799566
11,Hawaii,1431603,1428557,1427538,1420491,1415872,1451911,1441553
12,Idaho,1654930,1683140,1716943,1754208,1787065,1847772,1900923
13,Illinois,12859995,12801539,12802023,12741080,12671821,12785245,12671469
14,Indiana,6619680,6633053,6666818,6691878,6732219,6785644,6805985
15,Iowa,3123899,3134693,3145711,3156145,3155070,3188669,3193079
16,Kansas,2911641,2907289,2913123,2911510,2913314,2935880,2934582
17,Kentucky,4425092,4436974,4454189,4468402,4467673,4503958,4509394
18,Louisiana,4670724,4681666,4684333,4659978,4648794,4651203,4624047
19,Maine,1329328,1331479,1335907,1338404,1344212,1362280,1372247
20,Maryland,6006401,6016447,6052177,6042718,6045680,6172679,6165129
21,Massachusetts,6794422,6811779,6859819,6902149,6892503,7022220,6984723
22,Michigan,9922576,9928300,9962311,9995915,9986857,10067664,10050811
23,Minnesota,5489594,5519952,5576606,5611179,5639632,5707165,5707390
24,Mississippi,2992333,2988726,2984100,2986530,2976149,2956870,2949965
25,Missouri,6083672,6093000,6113532,6126452,6137428,6154481,6168187
26,Montana,1032949,1042520,1050493,1062305,1068778,1086193,1104271
27,Nebraska,1896190,1907116,1920076,1929268,1934408,1961455,1963692
28,Nevada,2890845,2940058,2998039,3034392,3080156,3114071,3143991
29,New Hampshire,1330608,1334795,1342795,1356458,1359711,1377848,1388992
30,New Jersey,8958013,8944469,9005644,8908520,8882190,9279743,9267130
31,New Mexico,2085109,2081015,2088070,2095428,2096829,2117566,2115877
32,New York,19795791,19745289,19849399,19542209,19453561,20154933,19835913
33,North Carolina,10042802,10146788,10273419,10383620,10488084,10457177,10551162
34,North Dakota,756928,757953,755393,760077,762062,778962,774948
35,Ohio,11613423,11614373,11658609,11689442,11689100,11790587,11780017
36,Oklahoma,3911338,3923561,3930864,3943079,3956971,3962031,3986639
37,Oregon,4028977,4093465,4142776,4190713,4217737,4241544,4246155
38,Pennsylvania,12802503,12784227,12805537,12807060,12801989,12989625,12964056
39,Rhode Island,1056298,1056426,1059639,1057315,1059361,1096229,1095610
40,South Carolina,4896146,4961119,5024369,5084127,5148714,5130729,5190705
41,South Dakota,858469,865454,869666,882235,884659,887099,895376
42,Tennessee,6600299,6651194,6715984,6770010,6829174,6920119,6975218
43,Texas,27469114,27862596,28304596,28701845,28995881,29217653,29527941
44,Utah,2995919,3051217,3101833,3161105,3205958,3281684,3337975
45,Vermont,626042,624594,623657,626299,623989,642495,645570
46,Virginia,8382993,8411808,8470020,8517685,8535519,8632044,8642274
47,Washington,7170351,7288000,7405743,7535591,7614893,7718785,7738692
48,West Virginia,1844128,1831102,1815857,1805832,1792147,1789798,1782959
49,Wisconsin,5771337,5778709,5795483,5813568,5822434,5892323,5895908
50,Wyoming,586107,585501,579315,577737,578759,577267,578803

In [192]:
#Resetting the dataframe index after removal of few rows
population_final=population.reset_index()
population_final = population_final[["NAME","2015","2016","2017","2018","2019","2020","2021"]]

In [193]:
population_final["State Name"] = population_final["NAME"]
population_final["pop_2015"] = population_final["2015"]
population_final["pop_2016"] = population_final["2016"]
population_final["pop_2017"] = population_final["2017"]
population_final["pop_2018"] = population_final["2018"]
population_final["pop_2019"] = population_final["2019"]
population_final["pop_2020"] = population_final["2020"]
population_final["pop_2021"] = population_final["2021"]
population_final = population_final.drop(["NAME","2015","2016","2017"],axis=1)
population_final = population_final.drop(["2018","2019","2020","2021"],axis=1)

In [194]:
#Final population data set
population_final

,State Name,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021
0,Alabama,4858979,4863300,4874747,4887871,4903185,5024803,5039877
1,Alaska,738432,741894,739795,737438,731545,732441,732673
2,Arizona,6828065,6931071,7016270,7171646,7278717,7177986,7276316
3,Arkansas,2978204,2988248,3004279,3013825,3017804,3012232,3025891
4,California,39144818,39250017,39536653,39557045,39512223,39499738,39237836
5,Colorado,5456574,5540545,5607154,5695564,5758736,5784308,5812069
6,Connecticut,3590886,3576452,3588184,3572665,3565287,3600260,3605597
7,Delaware,945934,952065,961939,967171,973764,991886,1003384
8,Florida,20271272,20612439,20984400,21299325,21477737,21569932,21781128
9,Georgia,10214860,10310371,10429379,10519475,10617423,10725800,10799566
10,Hawaii,1431603,1428557,1427538,1420491,1415872,1451911,1441553
11,Idaho,1654930,1683140,1716943,1754208,1787065,1847772,1900923
12,Illinois,12859995,12801539,12802023,12741080,12671821,12785245,12671469
13,Indiana,6619680,6633053,6666818,6691878,6732219,6785644,6805985
14,Iowa,3123899,3134693,3145711,3156145,3155070,3188669,3193079
15,Kansas,2911641,2907289,2913123,2911510,2913314,2935880,2934582
16,Kentucky,4425092,4436974,4454189,4468402,4467673,4503958,4509394
17,Louisiana,4670724,4681666,4684333,4659978,4648794,4651203,4624047
18,Maine,1329328,1331479,1335907,1338404,1344212,1362280,1372247
19,Maryland,6006401,6016447,6052177,6042718,6045680,6172679,6165129
20,Massachusetts,6794422,6811779,6859819,6902149,6892503,7022220,6984723
21,Michigan,9922576,9928300,9962311,9995915,9986857,10067664,10050811
22,Minnesota,5489594,5519952,5576606,5611179,5639632,5707165,5707390
23,Mississippi,2992333,2988726,2984100,2986530,2976149,2956870,2949965
24,Missouri,6083672,6093000,6113532,6126452,6137428,6154481,6168187
25,Montana,1032949,1042520,1050493,1062305,1068778,1086193,1104271
26,Nebraska,1896190,1907116,1920076,1929268,1934408,1961455,1963692
27,Nevada,2890845,2940058,2998039,3034392,3080156,3114071,3143991
28,New Hampshire,1330608,1334795,1342795,1356458,1359711,1377848,1388992
29,New Jersey,8958013,8944469,9005644,8908520,8882190,9279743,9267130
30,New Mexico,2085109,2081015,2088070,2095428,2096829,2117566,2115877
31,New York,19795791,19745289,19849399,19542209,19453561,20154933,19835913
32,North Carolina,10042802,10146788,10273419,10383620,10488084,10457177,10551162
33,North Dakota,756928,757953,755393,760077,762062,778962,774948
34,Ohio,11613423,11614373,11658609,11689442,11689100,11790587,11780017
35,Oklahoma,3911338,3923561,3930864,3943079,3956971,3962031,3986639
36,Oregon,4028977,4093465,4142776,4190713,4217737,4241544,4246155
37,Pennsylvania,12802503,12784227,12805537,12807060,12801989,12989625,12964056
38,Rhode Island,1056298,1056426,1059639,1057315,1059361,1096229,1095610
39,South Carolina,4896146,4961119,5024369,5084127,5148714,5130729,5190705
40,South Dakota,858469,865454,869666,882235,884659,887099,895376
41,Tennessee,6600299,6651194,6715984,6770010,6829174,6920119,6975218
42,Texas,27469114,27862596,28304596,28701845,28995881,29217653,29527941
43,Utah,2995919,3051217,3101833,3161105,3205958,3281684,3337975
44,Vermont,626042,624594,623657,626299,623989,642495,645570
45,Virginia,8382993,8411808,8470020,8517685,8535519,8632044,8642274
46,Washington,7170351,7288000,7405743,7535591,7614893,7718785,7738692
47,West Virginia,1844128,1831102,1815857,1805832,1792147,1789798,1782959
48,Wisconsin,5771337,5778709,5795483,5813568,5822434,5892323,5895908
49,Wyoming,586107,585501,579315,577737,578759,577267,578803

In [105]:
#Read the GDP data set 
US_GDP = pd.read_csv("GDP__ALL_AREAS_2005_2022.csv")

In [106]:
US_GDP.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2005:Q1,2005:Q2,...,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1,2022:Q2
0,"""01000""",Alabama,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,182600.4,184625.7,...,204004.9,186912.4,204205.1,204400.7,207001.8,209857.1,210029.1,213029.2,212789.5,212311.6
1,"""01000""",Alabama,5.0,SQGDP9,2.0,...,Private industries,Millions of chained 2012 dollars,151822.8,153771.4,...,171274.1,155002.8,171807.1,172098.0,174887.8,177464.2,177483.0,180676.8,180412.4,179984.1
2,"""01000""",Alabama,5.0,SQGDP9,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2012 dollars,3665.8,3765.6,...,3218.4,1351.0,1966.2,2225.7,3093.4,2485.5,2927.2,2977.8,3340.3,3584.1
3,"""01000""",Alabama,5.0,SQGDP9,6.0,21,"Mining, quarrying, and oil and gas extraction",Millions of chained 2012 dollars,3899.2,3985.5,...,2437.0,2448.8,2437.5,2170.8,2233.4,2084.1,2126.4,2343.4,2433.2,2377.5
4,"""01000""",Alabama,5.0,SQGDP9,10.0,22,Utilities,Millions of chained 2012 dollars,4072.1,4284.1,...,5624.1,5541.8,5664.0,5843.8,5207.9,5525.9,5275.0,5275.2,5151.8,5255.1

In [107]:
#Subset of only required rows
US_GDP = US_GDP[US_GDP['Description']=='All industry total ']

In [108]:
US_GDP

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2005:Q1,2005:Q2,...,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1,2022:Q2
0,"""01000""",Alabama,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,182600.4,184625.7,...,204004.9,186912.4,204205.1,204400.7,207001.8,209857.1,210029.1,213029.2,212789.5,212311.6
27,"""02000""",Alaska,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,45176.1,45776.9,...,53030.0,48540.1,50181.2,51069.4,50690.3,50707.9,50935.9,51143.5,49070.4,48963.4
54,"""04000""",Arizona,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,256521.4,260884.6,...,328587.6,310250.0,331692.4,338182.1,339659.7,344936.2,348706.0,357322.0,355309.3,353565.6
81,"""05000""",Arkansas,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,104693.3,105271.5,...,118972.3,111033.0,119377.4,119689.9,121860.2,123015.2,123676.9,124837.0,126803.5,125830.9
108,"""06000""",California,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1896451.4,1913819.0,...,2726966.1,2497144.4,2698461.3,2746311.9,2802569.5,2858504.7,2894880.5,2942968.5,2870410.5,2866766.2
135,"""08000""",Colorado,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,250734.2,251939.1,...,364343.9,333946.6,357012.4,358077.8,366673.8,371776.5,374332.1,382270.9,384984.6,383060.0
162,"""09000""",Connecticut,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,236627.0,238189.5,...,243008.4,220597.9,237183.6,240149.7,240879.9,246676.8,248028.1,250638.6,254010.8,250985.1
189,"""10000""",Delaware,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,58721.4,57325.3,...,63390.8,59399.1,63312.7,63024.4,63357.3,64176.8,64460.9,65623.9,65345.0,65544.2
216,"""11000""",District of Columbia,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,99279.0,99650.1,...,125559.2,118134.2,122164.7,124082.9,124274.3,126538.3,128234.6,128884.7,129192.4,128908.0
243,"""12000""",Florida,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,804997.0,810485.1,...,969585.9,891076.7,966543.8,973451.2,991701.0,1023722.9,1038486.4,1064392.2,1060437.3,1064562.7
270,"""13000""",Georgia,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,442968.3,445971.4,...,551028.0,506655.7,544494.2,548285.2,561223.1,575976.2,577786.3,586183.0,588636.2,587662.5
297,"""15000""",Hawaii,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,66097.3,66774.7,...,76310.1,65797.9,68278.7,70050.9,71310.6,74502.0,76530.9,75845.4,74973.0,75083.5
324,"""16000""",Idaho,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,54984.0,55851.9,...,75726.1,70182.8,76930.1,77743.0,79045.1,78896.8,79557.9,82875.4,83600.5,83427.5
351,"""17000""",Illinois,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,685519.3,685960.8,...,757923.8,691519.8,741584.2,746512.4,767548.8,777898.6,780279.4,794516.3,799253.0,794219.2
378,"""18000""",Indiana,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,287211.6,290265.2,...,336332.9,302558.9,333913.0,336306.7,341620.8,346166.2,345596.3,351580.2,355006.7,352022.4
405,"""19000""",Iowa,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,144118.8,144576.1,...,173979.9,159659.9,172700.1,177489.6,184430.3,182618.1,175641.3,176322.1,177421.2,177060.3
432,"""20000""",Kansas,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,124051.0,124245.1,...,163507.5,149456.2,160314.0,160115.5,159725.7,162553.7,162695.6,164188.6,165266.0,164225.9
459,"""21000""",Kentucky,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,168139.2,170967.1,...,193361.0,174321.8,192693.9,193208.6,195481.6,197455.1,197955.6,200380.8,201437.4,200547.4
486,"""22000""",Louisiana,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,247839.3,250917.6,...,228455.8,207356.9,220884.5,216989.5,217163.4,222838.7,222078.6,222530.2,217427.2,215768.5
513,"""23000""",Maine,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,54479.3,54801.7,...,60361.4,56312.8,60724.8,62126.8,62452.2,63374.6,63875.6,64675.9,64601.5,64399.7
540,"""24000""",Maryland,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,296104.9,299499.2,...,360145.3,334847.0,356775.6,357768.0,368282.1,365495.6,368244.1,372262.5,368399.8,367554.3
567,"""25000""",Massachusetts,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,383214.4,384392.9,...,516216.1,469194.2,500082.5,514511.0,520143.7,530568.1,537050.8,544645.6,543416.9,539880.6
594,"""26000""",Michigan,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,457543.9,458905.7,...,461865.4,406391.9,461198.3,464365.7,469497.8,485125.0,484788.4,487700.9,490748.1,488661.1
621,"""27000""",Minnesota,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,281852.6,283117.0,...,337282.4,309700.2,331040.1,335935.5,339113.7,348488.9,346693.2,350521.5,349908.0,348770.4
648,"""28000""",Mississippi,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,95489.6,95713.4,...,102637.9,93612.0,102849.8,103007.9,103755.6,104810.9,104449.7,104397.6,104742.8,104455.1
675,"""29000""",Missouri,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,263559.7,265589.6,...,288830.3,266048.3,286515.9,289622.0,291959.7,296052.5,296322.7,298414.3,300810.2,299283.7
702,"""30000""",Montana,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,37305.0,37141.6,...,46849.0,44159.2,47814.1,48179.4,48378.2,48684.8,48869.4,49972.5,49718.2,49585.7
729,"""31000""",Nebraska,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,87583.0,88616.5,...,119303.3,111597.6,119738.9,121926.3,120744.5,122711.6,122550.7,122537.7,124031.1,123486.2
756,"""32000""",Nevada,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,134532.2,138422.9,...,157147.1,132382.1,147506.8,148934.1,152028.4,158620.1,162356.1,165264.7,163894.1,164287.4
783,"""33000""",New Hampshire,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,64678.5,65058.8,...,77494.8,70274.6,77056.3,78884.8,79001.1,83106.2,83544.8,86292.9,83076.4,82558.0
810,"""34000""",New Jersey,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,502553.8,506024.0,...,556862.9,497580.7,541270.0,545581.5,559072.4,563421.3,567906.5,577172.6,579620.4,578197.6
837,"""35000""",New Mexico,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,84403.3,84572.2,...,96699.5,87891.1,92675.2,92719.3,92692.4,92652.9,93601.6,95553.3,94307.1,93750.5
864,"""36000""",New York,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1152076.7,1162884.7,...,1489185.1,1347704.9,1442509.1,1450628.9,1471477.6,1504178.3,1525423.5,1558037.6,1556072.2,1558885.5
891,"""37000""",North Carolina,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,405614.5,406017.2,...,517199.1,474916.8,514459.9,520056.7,531416.3,538422.9,542333.1,555562.7,557783.2,556844.3
918,"""38000""",North Dakota,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,29298.3,29377.3,...,56253.2,51736.6,53492.7,53131.7,53625.5,53898.7,54135.8,53554.2,52831.6,52741.2
945,"""39000""",Ohio,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,540875.9,544850.9,...,608669.9,552493.3,603832.5,611578.8,617796.0,627586.2,629811.9,641954.1,639198.7,637360.7
972,"""40000""",Oklahoma,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,143227.5,144419.3,...,199196.3,183394.4,195221.3,192129.8,194233.1,194128.9,191043.1,193515.0,190164.4,189412.1
999,"""41000""",Oregon,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,156860.6,157099.8,...,221376.7,203537.3,218088.4,219972.1,223980.4,226780.1,227437.1,233718.7,233502.6,232587.9
1026,"""42000""",Pennsylvania,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,588074.8,592847.9,...,708225.7,633368.0,687974.9,694260.9,700244.2,708188.4,710466.4,724993.3,723032.4,721324.2
1053,"""44000""",Rhode Island,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,50513.3,51300.2,...,52990.8,47834.2,52235.6,53003.9,52818.7,54858.9,54877.3,55869.2,55217.8,55294.8
1080,"""45000""",South Carolina,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,168167.0,169187.0,...,210301.6,195335.2,213350.3,213949.1,216766.4,221140.1,221640.7,224632.6,225761.2,225457.3
1107,"""46000""",South Dakota,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,35847.9,35651.3,...,47332.1,45063.5,48277.3,48936.6,49114.3,49673.7,49523.8,49920.1,50132.2,49921.7
1134,"""47000""",Tennessee,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,265145.2,266672.9,...,334634.1,295265.0,329028.3,334888.6,346070.8,349444.0,352803.5,361526.3,364843.3,365145.3
1161,"""48000""",Texas,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1139658.4,1135433.3,...,1790727.8,1657126.2,1766666.4,1775727.5,1794614.3,1809123.4,1815623.2,1840893.4,1843354.1,1851811.8
1188,"""49000""",Utah,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,107245.4,108775.0,...,173889.8,167403.9,177742.7,180782.4,183595.1,185676.0,186798.9,191570.2,191283.7,190744.2
1215,"""50000""",Vermont,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,26990.1,26867.8,...,30158.3,26863.4,29444.5,29792.3,30094.0,30402.8,30582.1,31108.3,31310.4,31297.5
1242,"""51000""",Virginia,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,405352.9,410991.4,...,489002.6,453483.3,482661.5,490490.0,496829.7,501883.3,506619.0,516071.8,511784.3,510601.8
1269,"""53000""",Washington,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,336337.3,340084.4,...,542706.3,509713.1,552802.0,550202.8,565174.8,575469.8,575027.3,584844.1,577715.1,578519.7
1296,"""54000""",West Virginia,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,65341.8,66167.6,...,72709.9,66410.5,71330.2,71326.3,71199.7,71156.3,71112.1,71904.8,70877.6,71130.2
1323,"""55000""",Wisconsin,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,261144.0,263150.4,...,299309.1,274801.0,297161.2,301148.2,301697.0,305501.5,306510.1,312161.0,312366.2,310909.7
1350,"""56000""",Wyoming,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,33407.1,34028.5,...,38411.0,34787.3,36185.8,35690.3,36417.6,36362.8,36354.5,36465.2,36341.1,35899.8
1377,"""91000""",New England,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,816364.8,820449.6,...,980202.2,891056.9,956708.4,978438.8,985357.6,1008944.2,1017894.8,1033154.7,1031577.5,1024370.5
1404,"""92000""",Mideast,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,2696918.7,2718333.5,...,3304674.2,2992587.9,3215101.8,3236363.8,3287735.8,3333600.2,3366624.2,3429016.9,3423723.9,3422591.1
1431,"""93000""",Great Lakes,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,2232741.8,2243550.7,...,2463962.8,2227660.7,2437484.0,2459715.9,2498112.2,2542113.3,2546723.6,2587621.2,2596258.9,2582848.7
1458,"""94000""",Plains,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,966607.6,971451.1,...,1186465.2,1093316.7,1172442.0,1187683.4,1199288.1,1216475.4,1207896.8,1215684.4,1220619.5,1215718.9
1485,"""95000""",Southeast,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,3355714.3,3382437.8,...,3994489.3,3659059.3,3965369.8,3993801.8,4064830.3,4144134.8,4173442.8,4250022.1,4247986.4,4245003.0
1512,"""96000""",Southwest,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1623716.9,1625216.1,...,2416621.5,2240840.6,2388825.5,2402286.7,2424556.4,2444122.7,2452163.9,2490398.6,2486172.7,2491512.0
1539,"""97000""",Rocky Mountain,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,483760.9,487797.9,...,700065.1,651683.5,697172.4,702165.6,715776.9,723014.7,727419.0,744609.0,747354.3,744141.3
1566,"""98000""",Far West,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,2635035.3,2661391.7,...,3778009.9,3457038.7,3735682.0,3786922.9,3866272.8,3945229.3,3987723.4,4054190.6,3970172.3,3966829.6

In [109]:
US_GDP.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2005:Q1,2005:Q2,...,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1,2022:Q2
0,"""01000""",Alabama,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,182600.4,184625.7,...,204004.9,186912.4,204205.1,204400.7,207001.8,209857.1,210029.1,213029.2,212789.5,212311.6
27,"""02000""",Alaska,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,45176.1,45776.9,...,53030.0,48540.1,50181.2,51069.4,50690.3,50707.9,50935.9,51143.5,49070.4,48963.4
54,"""04000""",Arizona,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,256521.4,260884.6,...,328587.6,310250.0,331692.4,338182.1,339659.7,344936.2,348706.0,357322.0,355309.3,353565.6
81,"""05000""",Arkansas,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,104693.3,105271.5,...,118972.3,111033.0,119377.4,119689.9,121860.2,123015.2,123676.9,124837.0,126803.5,125830.9
108,"""06000""",California,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1896451.4,1913819.0,...,2726966.1,2497144.4,2698461.3,2746311.9,2802569.5,2858504.7,2894880.5,2942968.5,2870410.5,2866766.2

In [110]:
#Changing the data type from string to integer for Converting Quaterly data into Annual data
US_GDP["2015"] = US_GDP["2015:Q4"].astype(float)

In [111]:
US_GDP["2016"] = US_GDP["2016:Q4"].astype(float)

In [112]:
US_GDP["2017"] = US_GDP["2017:Q4"].astype(float)

In [113]:
US_GDP["2018"] = US_GDP["2018:Q4"].astype(float)

In [114]:
US_GDP["2019"] = US_GDP["2019:Q4"].astype(float)

In [115]:
US_GDP["2020"] = US_GDP["2020:Q4"].astype(float)

In [116]:
US_GDP["2021"] = US_GDP["2021:Q4"].astype(float)

In [117]:
US_GDP

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2005:Q1,2005:Q2,...,2021:Q4,2022:Q1,2022:Q2,2015,2016,2017,2018,2019,2020,2021
0,"""01000""",Alabama,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,182600.4,184625.7,...,213029.2,212789.5,212311.6,191778.0,195414.6,198544.8,201291.6,204465.8,204400.7,213029.2
27,"""02000""",Alaska,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,45176.1,45776.9,...,51143.5,49070.4,48963.4,54541.5,53874.6,54159.9,53303.1,53585.5,51069.4,51143.5
54,"""04000""",Arizona,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,256521.4,260884.6,...,357322.0,355309.3,353565.6,284969.4,294532.4,308216.8,317215.3,330709.7,338182.1,357322.0
81,"""05000""",Arkansas,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,104693.3,105271.5,...,124837.0,126803.5,125830.9,112732.8,113734.1,114933.5,116546.1,118152.6,119689.9,124837.0
108,"""06000""",California,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1896451.4,1913819.0,...,2942968.5,2870410.5,2866766.2,2369653.2,2456691.1,2599753.8,2674799.7,2772640.2,2746311.9,2942968.5
135,"""08000""",Colorado,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,250734.2,251939.1,...,382270.9,384984.6,383060.0,315418.9,324234.0,335938.7,347071.2,364015.4,358077.8,382270.9
162,"""09000""",Connecticut,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,236627.0,238189.5,...,250638.6,254010.8,250985.1,242686.1,243894.5,248790.5,249812.0,251582.1,240149.7,250638.6
189,"""10000""",Delaware,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,58721.4,57325.3,...,65623.9,65345.0,65544.2,65537.4,62364.6,59973.4,62310.9,64930.1,63024.4,65623.9
216,"""11000""",District of Columbia,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,99279.0,99650.1,...,128884.7,129192.4,128908.0,117138.9,120016.2,121680.8,124219.0,125804.6,124082.9,128884.7
243,"""12000""",Florida,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,804997.0,810485.1,...,1064392.2,1060437.3,1064562.7,865203.9,894374.5,924744.6,947689.8,975960.5,973451.2,1064392.2
270,"""13000""",Georgia,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,442968.3,445971.4,...,586183.0,588636.2,587662.5,494168.7,512918.2,532479.6,544533.3,562006.2,548285.2,586183.0
297,"""15000""",Hawaii,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,66097.3,66774.7,...,75845.4,74973.0,75083.5,76537.4,77761.6,79300.0,79780.0,79502.4,70050.9,75845.4
324,"""16000""",Idaho,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,54984.0,55851.9,...,82875.4,83600.5,83427.5,62938.7,65824.6,67926.6,71863.7,75072.0,77743.0,82875.4
351,"""17000""",Illinois,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,685519.3,685960.8,...,794516.3,799253.0,794219.2,752114.5,754072.8,758769.2,774263.1,774584.1,746512.4,794516.3
378,"""18000""",Indiana,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,287211.6,290265.2,...,351580.2,355006.7,352022.4,314195.2,323151.4,329484.6,337470.2,339575.3,336306.7,351580.2
405,"""19000""",Iowa,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,144118.8,144576.1,...,176322.1,177421.2,177060.3,171545.5,170665.6,171998.9,173176.1,177397.1,177489.6,176322.1
432,"""20000""",Kansas,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,124051.0,124245.1,...,164188.6,165266.0,164225.9,150516.3,155724.9,156129.3,159605.0,160158.1,160115.5,164188.6
459,"""21000""",Kentucky,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,168139.2,170967.1,...,200380.8,201437.4,200547.4,183506.2,185606.5,187537.8,188785.2,195327.2,193208.6,200380.8
486,"""22000""",Louisiana,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,247839.3,250917.6,...,222530.2,217427.2,215768.5,230277.4,229296.3,234204.4,237247.9,236064.5,216989.5,222530.2
513,"""23000""",Maine,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,54479.3,54801.7,...,64675.9,64601.5,64399.7,54973.2,56079.2,57038.1,58151.1,60514.5,62126.8,64675.9
540,"""24000""",Maryland,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,296104.9,299499.2,...,372262.5,368399.8,367554.3,351555.2,364142.9,369957.1,368097.7,369768.6,357768.0,372262.5
567,"""25000""",Massachusetts,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,383214.4,384392.9,...,544645.6,543416.9,539880.6,472610.4,477504.6,490065.8,504956.7,517765.4,514511.0,544645.6
594,"""26000""",Michigan,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,457543.9,458905.7,...,487700.9,490748.1,488661.1,446208.4,455780.7,461463.8,463964.3,468731.7,464365.7,487700.9
621,"""27000""",Minnesota,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,281852.6,283117.0,...,350521.5,349908.0,348770.4,320934.4,327150.2,328712.3,339384.7,343067.7,335935.5,350521.5
648,"""28000""",Mississippi,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,95489.6,95713.4,...,104397.6,104742.8,104455.1,100660.9,101285.0,101069.1,100375.6,102481.5,103007.9,104397.6
675,"""29000""",Missouri,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,263559.7,265589.6,...,298414.3,300810.2,299283.7,277194.9,281090.2,283124.1,285687.8,292216.5,289622.0,298414.3
702,"""30000""",Montana,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,37305.0,37141.6,...,49972.5,49718.2,49585.7,44856.0,45173.6,45836.8,46497.0,47155.5,48179.4,49972.5
729,"""31000""",Nebraska,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,87583.0,88616.5,...,122537.7,124031.1,123486.2,111822.4,114505.7,115384.1,117403.9,120759.9,121926.3,122537.7
756,"""32000""",Nevada,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,134532.2,138422.9,...,165264.7,163894.1,164287.4,138121.9,141952.9,146066.4,152411.9,159293.9,148934.1,165264.7
783,"""33000""",New Hampshire,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,64678.5,65058.8,...,86292.9,83076.4,82558.0,73616.1,73622.7,74396.2,75223.5,76647.1,78884.8,86292.9
810,"""34000""",New Jersey,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,502553.8,506024.0,...,577172.6,579620.4,578197.6,530144.9,535463.6,540703.9,554688.7,562412.5,545581.5,577172.6
837,"""35000""",New Mexico,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,84403.3,84572.2,...,95553.3,94307.1,93750.5,89226.0,88938.2,89266.7,91809.4,96648.8,92719.3,95553.3
864,"""36000""",New York,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1152076.7,1162884.7,...,1558037.6,1556072.2,1558885.5,1365521.5,1402596.0,1440659.6,1460076.4,1507658.7,1450628.9,1558037.6
891,"""37000""",North Carolina,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,405614.5,406017.2,...,555562.7,557783.2,556844.3,476075.1,489494.6,500298.5,503539.3,519260.5,520056.7,555562.7
918,"""38000""",North Dakota,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,29298.3,29377.3,...,53554.2,52831.6,52741.2,55600.0,52671.1,54495.1,55973.3,56333.2,53131.7,53554.2
945,"""39000""",Ohio,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,540875.9,544850.9,...,641954.1,639198.7,637360.7,581653.6,587939.3,594626.0,602327.2,618234.4,611578.8,641954.1
972,"""40000""",Oklahoma,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,143227.5,144419.3,...,193515.0,190164.4,189412.1,198501.2,191254.1,194467.3,200285.4,202162.6,192129.8,193515.0
999,"""41000""",Oregon,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,156860.6,157099.8,...,233718.7,233502.6,232587.9,191988.7,200521.2,209537.7,217120.9,222501.8,219972.1,233718.7
1026,"""42000""",Pennsylvania,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,588074.8,592847.9,...,724993.3,723032.4,721324.2,684065.8,690539.4,699648.5,707583.8,719115.1,694260.9,724993.3
1053,"""44000""",Rhode Island,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,50513.3,51300.2,...,55869.2,55217.8,55294.8,53084.5,53032.4,52774.7,52717.5,53521.5,53003.9,55869.2
1080,"""45000""",South Carolina,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,168167.0,169187.0,...,224632.6,225761.2,225457.3,194513.1,200217.7,203827.2,208933.5,216130.9,213949.1,224632.6
1107,"""46000""",South Dakota,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,35847.9,35651.3,...,49920.1,50132.2,49921.7,46827.5,46539.7,44730.1,45930.8,47112.8,48936.6,49920.1
1134,"""47000""",Tennessee,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,265145.2,266672.9,...,361526.3,364843.3,365145.3,306627.1,314435.8,322952.7,324564.1,332768.1,334888.6,361526.3
1161,"""48000""",Texas,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1139658.4,1135433.3,...,1840893.4,1843354.1,1851811.8,1617560.7,1625938.6,1684251.4,1748442.2,1809786.0,1775727.5,1840893.4
1188,"""49000""",Utah,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,107245.4,108775.0,...,191570.2,191283.7,190744.2,143759.1,150823.9,159319.9,166619.5,174366.9,180782.4,191570.2
1215,"""50000""",Vermont,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,26990.1,26867.8,...,31108.3,31310.4,31297.5,29165.4,29449.5,29543.2,29494.4,30112.2,29792.3,31108.3
1242,"""51000""",Virginia,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,405352.9,410991.4,...,516071.8,511784.3,510601.8,456691.0,465280.7,472242.9,480168.6,493830.0,490490.0,516071.8
1269,"""53000""",Washington,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,336337.3,340084.4,...,584844.1,577715.1,578519.7,445178.2,466684.7,494726.7,519952.3,541480.5,550202.8,584844.1
1296,"""54000""",West Virginia,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,65341.8,66167.6,...,71904.8,70877.6,71130.2,70422.3,69748.5,71547.7,73677.0,72547.7,71326.3,71904.8
1323,"""55000""",Wisconsin,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,261144.0,263150.4,...,312161.0,312366.2,310909.7,290518.1,291927.6,293466.1,301207.0,305775.0,301148.2,312161.0
1350,"""56000""",Wyoming,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,33407.1,34028.5,...,36465.2,36341.1,35899.8,40111.1,36972.8,37582.1,38220.6,38924.8,35690.3,36465.2
1377,"""91000""",New England,1.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,816364.8,820449.6,...,1033154.7,1031577.5,1024370.5,926113.9,933562.7,952591.7,970343.0,990138.3,978438.8,1033154.7
1404,"""92000""",Mideast,2.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,2696918.7,2718333.5,...,3429016.9,3423723.9,3422591.1,3113756.4,3175137.6,3232995.0,3277434.5,3350939.3,3236363.8,3429016.9
1431,"""93000""",Great Lakes,3.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,2232741.8,2243550.7,...,2587621.2,2596258.9,2582848.7,2384692.0,2412886.4,2437798.1,2479169.7,2506875.1,2459715.9,2587621.2
1458,"""94000""",Plains,4.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,966607.6,971451.1,...,1215684.4,1220619.5,1215718.9,1134456.0,1148601.1,1154692.2,1177238.3,1197187.7,1187683.4,1215684.4
1485,"""95000""",Southeast,5.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,3355714.3,3382437.8,...,4250022.1,4247986.4,4245003.0,3683516.9,3773446.4,3866219.1,3929245.4,4031326.2,3993801.8,4250022.1
1512,"""96000""",Southwest,6.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,1623716.9,1625216.1,...,2490398.6,2486172.7,2491512.0,2190018.1,2201597.5,2277419.9,2358953.4,2440682.6,2402286.7,2490398.6
1539,"""97000""",Rocky Mountain,7.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,483760.9,487797.9,...,744609.0,747354.3,744141.3,607132.0,623624.5,647365.2,671156.4,700435.2,702165.6,744609.0
1566,"""98000""",Far West,8.0,SQGDP9,1.0,...,All industry total,Millions of chained 2012 dollars,2635035.3,2661391.7,...,4054190.6,3970172.3,3966829.6,3276087.4,3397847.9,3583970.6,3697988.0,3829629.8,3786922.9,4054190.6

In [118]:
GDP = US_GDP[['GeoName','2015','2016','2017','2018','2019','2020','2021']]

In [119]:
#Removal of inconsistent data
GDP = GDP.drop([216,1377,1404,1431,1458,1485,1512,1539,1566])

In [120]:
#Resetting the dataframe index after removal of few rows
GDP_final = GDP.reset_index()
GDP_final.head()

,index,GeoName,2015,2016,2017,2018,2019,2020,2021
0,0,Alabama,191778.0,195414.6,198544.8,201291.6,204465.8,204400.7,213029.2
1,27,Alaska,54541.5,53874.6,54159.9,53303.1,53585.5,51069.4,51143.5
2,54,Arizona,284969.4,294532.4,308216.8,317215.3,330709.7,338182.1,357322.0
3,81,Arkansas,112732.8,113734.1,114933.5,116546.1,118152.6,119689.9,124837.0
4,108,California,2369653.2,2456691.1,2599753.8,2674799.7,2772640.2,2746311.9,2942968.5

In [121]:
GDP_final = GDP_final[['GeoName','2015','2016','2017','2018','2019','2020','2021']]

In [122]:
GDP_final.head()

,GeoName,2015,2016,2017,2018,2019,2020,2021
0,Alabama,191778.0,195414.6,198544.8,201291.6,204465.8,204400.7,213029.2
1,Alaska,54541.5,53874.6,54159.9,53303.1,53585.5,51069.4,51143.5
2,Arizona,284969.4,294532.4,308216.8,317215.3,330709.7,338182.1,357322.0
3,Arkansas,112732.8,113734.1,114933.5,116546.1,118152.6,119689.9,124837.0
4,California,2369653.2,2456691.1,2599753.8,2674799.7,2772640.2,2746311.9,2942968.5

In [123]:
#Check for null values
GDP_final.isna().sum()

GeoName    0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
dtype: int64

In [124]:
GDP_final["State Name"] = GDP_final["GeoName"]
GDP_final["GDP_2015"] = GDP_final["2015"]
GDP_final["GDP_2016"] = GDP_final["2016"]
GDP_final["GDP_2017"] = GDP_final["2017"]
GDP_final["GDP_2018"] = GDP_final["2018"]
GDP_final["GDP_2019"] = GDP_final["2019"]
GDP_final["GDP_2020"] = GDP_final["2020"]
GDP_final["GDP_2021"] = GDP_final["2021"]
GDP_final.head()

,GeoName,2015,2016,2017,2018,2019,2020,2021,State Name,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019,GDP_2020,GDP_2021
0,Alabama,191778.0,195414.6,198544.8,201291.6,204465.8,204400.7,213029.2,Alabama,191778.0,195414.6,198544.8,201291.6,204465.8,204400.7,213029.2
1,Alaska,54541.5,53874.6,54159.9,53303.1,53585.5,51069.4,51143.5,Alaska,54541.5,53874.6,54159.9,53303.1,53585.5,51069.4,51143.5
2,Arizona,284969.4,294532.4,308216.8,317215.3,330709.7,338182.1,357322.0,Arizona,284969.4,294532.4,308216.8,317215.3,330709.7,338182.1,357322.0
3,Arkansas,112732.8,113734.1,114933.5,116546.1,118152.6,119689.9,124837.0,Arkansas,112732.8,113734.1,114933.5,116546.1,118152.6,119689.9,124837.0
4,California,2369653.2,2456691.1,2599753.8,2674799.7,2772640.2,2746311.9,2942968.5,California,2369653.2,2456691.1,2599753.8,2674799.7,2772640.2,2746311.9,2942968.5

In [125]:
#Dropping unnecessary columns
GDP_final = GDP_final.drop(["GeoName","2015","2016","2017"],axis=1)
GDP_final = GDP_final.drop(["2018","2019","2020","2021"],axis=1)

In [126]:
#Final GDP dataset
GDP_final

,State Name,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019,GDP_2020,GDP_2021
0,Alabama,191778.0,195414.6,198544.8,201291.6,204465.8,204400.7,213029.2
1,Alaska,54541.5,53874.6,54159.9,53303.1,53585.5,51069.4,51143.5
2,Arizona,284969.4,294532.4,308216.8,317215.3,330709.7,338182.1,357322.0
3,Arkansas,112732.8,113734.1,114933.5,116546.1,118152.6,119689.9,124837.0
4,California,2369653.2,2456691.1,2599753.8,2674799.7,2772640.2,2746311.9,2942968.5
5,Colorado,315418.9,324234.0,335938.7,347071.2,364015.4,358077.8,382270.9
6,Connecticut,242686.1,243894.5,248790.5,249812.0,251582.1,240149.7,250638.6
7,Delaware,65537.4,62364.6,59973.4,62310.9,64930.1,63024.4,65623.9
8,Florida,865203.9,894374.5,924744.6,947689.8,975960.5,973451.2,1064392.2
9,Georgia,494168.7,512918.2,532479.6,544533.3,562006.2,548285.2,586183.0
10,Hawaii,76537.4,77761.6,79300.0,79780.0,79502.4,70050.9,75845.4
11,Idaho,62938.7,65824.6,67926.6,71863.7,75072.0,77743.0,82875.4
12,Illinois,752114.5,754072.8,758769.2,774263.1,774584.1,746512.4,794516.3
13,Indiana,314195.2,323151.4,329484.6,337470.2,339575.3,336306.7,351580.2
14,Iowa,171545.5,170665.6,171998.9,173176.1,177397.1,177489.6,176322.1
15,Kansas,150516.3,155724.9,156129.3,159605.0,160158.1,160115.5,164188.6
16,Kentucky,183506.2,185606.5,187537.8,188785.2,195327.2,193208.6,200380.8
17,Louisiana,230277.4,229296.3,234204.4,237247.9,236064.5,216989.5,222530.2
18,Maine,54973.2,56079.2,57038.1,58151.1,60514.5,62126.8,64675.9
19,Maryland,351555.2,364142.9,369957.1,368097.7,369768.6,357768.0,372262.5
20,Massachusetts,472610.4,477504.6,490065.8,504956.7,517765.4,514511.0,544645.6
21,Michigan,446208.4,455780.7,461463.8,463964.3,468731.7,464365.7,487700.9
22,Minnesota,320934.4,327150.2,328712.3,339384.7,343067.7,335935.5,350521.5
23,Mississippi,100660.9,101285.0,101069.1,100375.6,102481.5,103007.9,104397.6
24,Missouri,277194.9,281090.2,283124.1,285687.8,292216.5,289622.0,298414.3
25,Montana,44856.0,45173.6,45836.8,46497.0,47155.5,48179.4,49972.5
26,Nebraska,111822.4,114505.7,115384.1,117403.9,120759.9,121926.3,122537.7
27,Nevada,138121.9,141952.9,146066.4,152411.9,159293.9,148934.1,165264.7
28,New Hampshire,73616.1,73622.7,74396.2,75223.5,76647.1,78884.8,86292.9
29,New Jersey,530144.9,535463.6,540703.9,554688.7,562412.5,545581.5,577172.6
30,New Mexico,89226.0,88938.2,89266.7,91809.4,96648.8,92719.3,95553.3
31,New York,1365521.5,1402596.0,1440659.6,1460076.4,1507658.7,1450628.9,1558037.6
32,North Carolina,476075.1,489494.6,500298.5,503539.3,519260.5,520056.7,555562.7
33,North Dakota,55600.0,52671.1,54495.1,55973.3,56333.2,53131.7,53554.2
34,Ohio,581653.6,587939.3,594626.0,602327.2,618234.4,611578.8,641954.1
35,Oklahoma,198501.2,191254.1,194467.3,200285.4,202162.6,192129.8,193515.0
36,Oregon,191988.7,200521.2,209537.7,217120.9,222501.8,219972.1,233718.7
37,Pennsylvania,684065.8,690539.4,699648.5,707583.8,719115.1,694260.9,724993.3
38,Rhode Island,53084.5,53032.4,52774.7,52717.5,53521.5,53003.9,55869.2
39,South Carolina,194513.1,200217.7,203827.2,208933.5,216130.9,213949.1,224632.6
40,South Dakota,46827.5,46539.7,44730.1,45930.8,47112.8,48936.6,49920.1
41,Tennessee,306627.1,314435.8,322952.7,324564.1,332768.1,334888.6,361526.3
42,Texas,1617560.7,1625938.6,1684251.4,1748442.2,1809786.0,1775727.5,1840893.4
43,Utah,143759.1,150823.9,159319.9,166619.5,174366.9,180782.4,191570.2
44,Vermont,29165.4,29449.5,29543.2,29494.4,30112.2,29792.3,31108.3
45,Virginia,456691.0,465280.7,472242.9,480168.6,493830.0,490490.0,516071.8
46,Washington,445178.2,466684.7,494726.7,519952.3,541480.5,550202.8,584844.1
47,West Virginia,70422.3,69748.5,71547.7,73677.0,72547.7,71326.3,71904.8
48,Wisconsin,290518.1,291927.6,293466.1,301207.0,305775.0,301148.2,312161.0
49,Wyoming,40111.1,36972.8,37582.1,38220.6,38924.8,35690.3,36465.2

In [62]:
#Read all the data files of Income statements for the fast food chains
wendys = pd.read_csv("The Wendy's Company - Income Statement.csv")
Starbucks = pd.read_csv("Starbucks Corporation - Income Statement.csv")
chipotle = pd.read_csv("Chipotle Mexican Grill, Inc. - Income Statement.csv")
dominos = pd.read_csv("Domino's Pizza, Inc. - Income Statement.csv")
Mcdonalds = pd.read_csv("McDonald's Corporation - Income Statement.csv")

In [5]:
wendys

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
0,Period End Date,2012-09-30,2012-12-30,2013-03-31,2013-06-30,2013-09-29,2013-12-29,2014-03-30,2014-06-29,2014-09-28,...,2020-03-29,2020-06-28,2020-09-27,2021-01-03,2021-04-04,2021-07-04,2021-10-03,2022-01-02,2022-04-03,2022-07-03
1,Revenue,2490381,2505242,2515737,2520413,2524884,2423669,2392178,2247713,2103604,...,1367806,1343264,1359701,1400161,1444565,1511425,1516217,1507477,1532836,1574697
2,Revenue Growth (YoY),0.0381,0.0304,0.0302,0.0223,0.0139,-0.0326,-0.0491,-0.1082,-0.1669,...,0.06,0.0233,0.0112,0.0224,0.0561,0.1252,0.1151,0.0766,0.0611,0.0419
3,Cost of Revenues,-1871412,-1881248,-1886609,-1876827,-1867579,-1780931,-1742277,-1604120,-1467588,...,-771410,-765602,-769005,-766984,-776773,-796503,-789941,-786991,-815694,-857860
4,Gross Profit,618969,623994,629128,643586,657305,642738,649901,643593,636016,...,596396,577662,590696,633177,667792,714922,726276,720486,717142,716837
5,Gross Profit Margin,0.2485,0.2491,0.2501,0.2553,0.2603,0.2652,0.2717,0.2863,0.3023,...,0.436,0.43,0.4344,0.4522,0.4623,0.473,0.479,0.4779,0.4679,0.4552
6,R&D Expenses,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Selling and Marketing Expense,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,General & Admin Expenses,-295067,-287808,-280814,-282264,-286607,-291544,-298093,-289731,-278386,...,-205032,-203240,-201693,-206876,-207859,-222381,-237699,-242970,-252694,-251217
9,Other Inc / (Exp),-282512,-286950,-328732,-317393,-278988,-242523,-179707,-155755,-143991,...,-148668,-146879,-161172,-155769,-155961,-140099,-137292,-127792,-122884,-135524
10,Operating Expenses,-577579,-574758,-609546,-599657,-565595,-534067,-477800,-445486,-422377,...,-353700,-350119,-362865,-362645,-363820,-362480,-374991,-370762,-375578,-386741
11,Operating Income,41390,49236,19582,43929,91710,108671,172101,198107,213639,...,242696,227543,227831,270532,303972,352442,351285,349724,341564,330096
12,Net Interest Expenses,-102450,-62361,-55090,-48216,-43170,-45079,-37425,-31544,-29072,...,-89816,-88970,-90126,-117737,-117995,-117111,-114031,-109146,-104617,-108545
13,"EBT, Incl. Unusual Items",-61060,-13125,-35508,-4287,48540,63592,134676,166563,184567,...,152880,138573,137705,152795,185977,235331,237254,240578,236947,221551
14,Earnings of Discontinued Ops.,30986,1509,1509,1509,979,-2903,1028,2708,4405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Income Tax Expense,17137,21083,30865,17139,-11158,-16057,-46902,-63464,-58173,...,-33393,-26568,-32074,-34963,-41220,-49754,-50259,-40186,-40519,-42696
16,Net Income to Company,-12937,9467,-3134,14361,38361,44632,88802,105807,130799,...,119487,112005,105631,117832,144757,185577,186995,200392,196428,178855
17,Minority Interest in Earnings,-2384,-2384,0,222,445,855,855,633,410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Net Income to Stockholders,-15321,7083,-3134,14583,38806,45487,89657,106440,131209,...,119487,112005,105631,117832,144757,185577,186995,200392,196428,178855
19,Preferred Dividends & Other Adj.,-30986,-1509,-1509,-1509,-979,2903,-1028,-2708,-4405,...,0,0,0,0,0,0,0,0,0,0
20,Net Income to Common Excl Extra Items,-46307,5574,-4643,13074,37827,48390,88629,103732,126804,...,119487,112005,105631,117832,144757,185577,186995,200392,196428,178855
21,Basic EPS (Cont. Ops),-0.1188,0.0143,-0.0119,0.0334,0.0964,0.1233,0.2273,0.2707,0.3365,...,0.5236,0.4951,0.4705,0.5268,0.6473,0.831,0.8388,0.9052,0.8951,0.8227
22,Diluted EPS (Cont. Ops),-0.1188,0.0143,-0.0119,0.0334,0.0949,0.12,0.2171,0.2568,0.3295,...,0.5019,0.4821,0.4594,0.52,0.6399,0.819,0.8294,0.89,0.8818,0.81
23,Weighted Average Basic Shares Out.,390406,391013,392498,393174,392579,-165,381552,366712,366880,...,223533,223123,223907,224139,223334,221874,222373,217917,215619,213673
24,Weighted Average Diluted Shares Out.,390406,392640,395694,397884,392579,579,389352,372172,372152,...,228007,227174,228317,228521,226727,225400,225058,220435,218167,215242
25,EBITDA,312601,328404,340776,356809,368805,339133,338443,331896,324415,...,392417,374879,383677,416906,448522,480815,473677,458551,444492,445574
26,EBIT,174539,176151,183601,198898,207294,162789,189174,180912,196456,...,262863,242095,251233,284131,315251,351497,346385,333011,317263,315678
27,Revenue (Reported),2490381,2505242,2515737,2520413,2524884,2423669,2392178,2247713,2103604,...,1705379,1672337,1686699,1733825,1789068,1880099,1898112,1896998,1925438,1969884
28,Operating Income (Reported),119770,122747,124295,142894,138521,139330,199952,204131,221565,...,245045,225133,227458,269308,303698,369783,368630,366960,358719,328254
29,Operating Income (Adjusted),174539,176151,183601,198898,207294,162789,189174,180912,196456,...,262863,242095,251233,284131,315251,351497,346385,333011,317263,315678

In [6]:
#Considering only the Revenue of the fast food chain for analysis
wendys = wendys[wendys['Unnamed: 0'] == 'Revenue (Reported)']
wendys

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
27,Revenue (Reported),2490381,2505242,2515737,2520413,2524884,2423669,2392178,2247713,2103604,...,1705379,1672337,1686699,1733825,1789068,1880099,1898112,1896998,1925438,1969884

In [7]:
#Changing the data type from string to integer for Converting Quaterly data into Annual data
wendys["2015"] = wendys["LTM.FQ-26"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/3739162052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wendys["2015"] = wendys["LTM.FQ-26"].astype(float)

In [8]:
wendys["2016"] = wendys["LTM.FQ-22"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/2922539055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wendys["2016"] = wendys["LTM.FQ-22"].astype(float)

In [9]:
wendys["2017"] = wendys["LTM.FQ-18"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1338937241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wendys["2017"] = wendys["LTM.FQ-18"].astype(float)

In [10]:
wendys["2018"] = wendys["LTM.FQ-14"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/2683831420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wendys["2018"] = wendys["LTM.FQ-14"].astype(float)

In [11]:
wendys["2019"] = wendys["LTM.FQ-10"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1086785209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wendys["2019"] = wendys["LTM.FQ-10"].astype(float)

In [12]:
wendys["2020"] = wendys["LTM.FQ-6"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/3151119546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wendys["2020"] = wendys["LTM.FQ-6"].astype(float)

In [13]:
wendys["2021"] = wendys["LTM.FQ-2"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/4149647416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wendys["2021"] = wendys["LTM.FQ-2"].astype(float)

In [14]:
wendys.head()

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-2,LTM.FQ-1,LTM,2015,2016,2017,2018,2019,2020,2021
27,Revenue (Reported),2490381,2505242,2515737,2520413,2524884,2423669,2392178,2247713,2103604,...,1896998,1925438,1969884,1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0

In [15]:
wendys_revenue = wendys[['Unnamed: 0','2015','2016','2017','2018','2019','2020','2021']]

In [16]:
wendys_revenue

,Unnamed: 0,2015,2016,2017,2018,2019,2020,2021
27,Revenue (Reported),1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0

In [17]:
Starbucks

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
0,Period End Date,2012-09-30,2012-12-30,2013-03-31,2013-06-30,2013-09-29,2013-12-29,2014-03-30,2014-06-29,2014-09-28,...,2020-03-29,2020-06-28,2020-09-27,2020-12-27,2021-03-28,2021-06-27,2021-10-03,2022-01-02,2022-04-03,2022-07-03
1,Revenue,13276800,13656800,14010400,14442200,14866800,15313200,15637500,16055800,16447800,...,26662700,24061900,23518000,23170300,23842700,27117000,29060600,30361600,31329100,31982800
2,Revenue Growth (YoY),0.1347,0.1207,0.1123,0.1138,0.1198,0.1213,0.1161,0.1117,0.1063,...,0.0434,-0.0769,-0.1128,-0.141,-0.1058,0.127,0.2357,0.3104,0.314,0.1794
3,Cost of Revenues,-9731400,-9950100,-10150200,-10409800,-10668400,-10928400,-11123200,-11329400,-11497000,...,-19468900,-18647800,-18376900,-18235400,-18332000,-19483100,-20625200,-21635700,-22600300,-23343600
4,Gross Profit,3545400,3706700,3860200,4032400,4198400,4384800,4514300,4726400,4950800,...,7193800,5414100,5141100,4934900,5510700,7633900,8435400,8725900,8728800,8639200
5,Gross Profit Margin,0.267,0.2714,0.2755,0.2792,0.2824,0.2863,0.2887,0.2944,0.301,...,0.2698,0.225,0.2186,0.213,0.2311,0.2815,0.2903,0.2874,0.2786,0.2701
6,R&D Expenses,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Selling and Marketing Expense,-95500,-95500,-95500,-95500,-101000,-101000,-101000,-101000,-116600,...,0,0,0,0,0,0,0,0,0,0
8,General & Admin Expenses,-801200,-841600,-865000,-915500,-937900,-948600,-958900,-978800,-991300,...,-1758800,-1699000,-1679600,-1717500,-1775400,-1870400,-1932600,-1986300,-2003400,-1995200
9,Other Inc / (Exp),-556900,-606400,-605400,-615900,-3371800,-3360000,-3406500,-3442900,-654500,...,-925300,-1629000,-1905100,-1979900,-1981700,-1799500,-741600,-711300,-703200,-803800
10,Operating Expenses,-1453600,-1543500,-1565900,-1626900,-4410700,-4409600,-4466400,-4522700,-1762400,...,-2684100,-3328000,-3584700,-3697400,-3757100,-3669900,-2674200,-2697600,-2706600,-2799000
11,Operating Income,2091800,2163200,2294300,2405500,-212300,-24800,47900,203700,3188400,...,4509700,2086100,1556400,1237500,1753600,3964000,5761200,6028300,6022200,5840200
12,Net Interest Expenses,-32700,-53600,-52800,-44000,-17600,-7400,-23700,-20300,-28700,...,-294800,-360200,-392000,-408600,-425200,-412300,-404300,-417300,-424900,-461900
13,"EBT, Incl. Unusual Items",2059100,2109600,2241500,2361500,-229900,-32200,24200,183400,3159700,...,4214900,1725900,1164400,828900,1328400,3551700,5356900,5611000,5597300,5378300
14,Earnings of Discontinued Ops.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Income Tax Expense,-674400,-674700,-726000,-761600,238700,149300,129100,64700,-1092000,...,-829200,-391500,-239700,-167300,-332200,-723300,-1156600,-1216800,-1187500,-1208900
16,Net Income to Company,1384700,1434900,1515500,1599900,8800,117100,153300,248100,2067700,...,3385700,1334400,924700,661600,996200,2828400,4200300,4394200,4409800,4169400
17,Minority Interest in Earnings,-900,-1000,-1100,-900,-500,-300,100,200,400,...,4000,4100,3600,3200,-400,-900,-1000,-1200,-1700,-1700
18,Net Income to Stockholders,1383800,1433900,1514400,1599000,8300,116800,153400,248300,2068100,...,3389700,1338500,928300,664800,995800,2827500,4199300,4393000,4408100,4167700
19,Preferred Dividends & Other Adj.,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Net Income to Common Excl Extra Items,1383800,1433900,1514400,1599000,8300,116800,153400,248300,2068100,...,3389700,1338500,928300,664800,995800,2827500,4199300,4393000,4408100,4167700
21,Basic EPS (Cont. Ops),0.9172,0.9509,1.0062,1.0656,0.0055,0.0777,0.1019,0.1648,1.373,...,2.851,1.136,0.7915,0.5675,0.849,2.4057,3.566,3.7348,3.7703,3.5887
22,Diluted EPS (Cont. Ops),0.895,0.9293,0.9842,1.0445,0.0055,0.0771,0.098,0.1625,1.35,...,2.8191,1.1257,0.79,0.5675,0.849,2.4017,3.54,3.7009,3.7491,3.5623
23,Weighted Average Basic Shares Out.,1547000,1492200,1498200,1499400,1529000,1509800,1510300,1503500,1521600,...,1171800,1168500,1179000,1175000,1177500,1178500,1187900,1169600,1149200,1147000
24,Weighted Average Diluted Shares Out.,1547000,1522600,1522600,1523800,1529000,1532400,1529100,1522000,1521600,...,1180700,1168500,1179000,1183000,1184800,1186200,1187900,1176600,1153900,1151000
25,EBITDA,2367300,2445200,2575800,2709300,2862900,3052300,3167900,3340300,3541000,...,5129800,3352800,3103100,2873100,3394900,5448900,6225700,6450700,6428000,6354800
26,EBIT,1786700,1851400,1965000,2077100,2207300,2373400,2466200,2610000,2792600,...,3657100,1880100,1599900,1350700,1865700,3962700,4701600,4928600,4899100,4751700
27,Revenue (Reported),13276800,13656800,14010400,14442200,14866800,15313200,15637500,16055800,16447800,...,26662700,24061900,23518000,23170300,23842700,27117000,29060600,30361600,31329100,31982800
28,Operating Income (Reported),1997400,2072000,2185600,2309400,-325400,-142500,-42300,111000,3081100,...,3911700,2086700,1561700,1255400,1755700,3948200,4872100,5136400,5097600,4904500
29,Operating Income (Adjusted),1786700,1851400,1965000,2077100,2207300,2373400,2466200,2610000,2792600,...,3657100,1880100,1599900,1350700,1865700,3962700,4701600,4928600,4899100,4751700

In [18]:
#Considering only the Revenue of the fast food chain for analysis
Starbucks = Starbucks[Starbucks['Unnamed: 0'] == 'Revenue (Reported)']
Starbucks

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
27,Revenue (Reported),13276800,13656800,14010400,14442200,14866800,15313200,15637500,16055800,16447800,...,26662700,24061900,23518000,23170300,23842700,27117000,29060600,30361600,31329100,31982800

In [19]:
#Changing the data type from string to integer for Converting Quaterly data into Annual data
Starbucks["2015"] = Starbucks["LTM.FQ-27"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/2460732407.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Starbucks["2015"] = Starbucks["LTM.FQ-27"].astype(float)

In [20]:
Starbucks["2016"] = Starbucks["LTM.FQ-22"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/3281980035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Starbucks["2016"] = Starbucks["LTM.FQ-22"].astype(float)

In [21]:
Starbucks["2017"] = Starbucks["LTM.FQ-19"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/478287180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Starbucks["2017"] = Starbucks["LTM.FQ-19"].astype(float)

In [22]:
Starbucks["2018"] = Starbucks["LTM.FQ-15"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1297020999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Starbucks["2018"] = Starbucks["LTM.FQ-15"].astype(float)

In [23]:
Starbucks["2019"] = Starbucks["LTM.FQ-10"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/475809906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Starbucks["2019"] = Starbucks["LTM.FQ-10"].astype(float)

In [25]:
Starbucks["2020"] = Starbucks["LTM.FQ-7"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/3609502404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Starbucks["2020"] = Starbucks["LTM.FQ-7"].astype(float)

In [26]:
Starbucks["2021"] = Starbucks["LTM.FQ-3"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/2470598982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Starbucks["2021"] = Starbucks["LTM.FQ-3"].astype(float)

In [27]:
Starbucks

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-2,LTM.FQ-1,LTM,2015,2016,2017,2018,2019,2020,2021
27,Revenue (Reported),13276800,13656800,14010400,14442200,14866800,15313200,15637500,16055800,16447800,...,30361600,31329100,31982800,19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0

In [28]:
starbucks_revenue = Starbucks[['Unnamed: 0','2015','2016','2017','2018','2019','2020','2021']]

In [29]:
starbucks_revenue

,Unnamed: 0,2015,2016,2017,2018,2019,2020,2021
27,Revenue (Reported),19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0

In [30]:
chipotle

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
0,Period End Date,2012-09-30,2012-12-31,2013-03-31,2013-06-30,2013-09-30,2013-12-31,2014-03-31,2014-06-30,2014-09-30,...,2020-03-31,2020-06-30,2020-09-30,2020-12-31,2021-03-31,2021-06-30,2021-09-30,2021-12-31,2022-03-31,2022-06-30
1,Revenue,2628812,2731224,2817372,2943226,3069605,3214591,3392003,3625290,3882605,...,5688924,5619431,5817148,5984634,6315437,6843237,7194138,7547061,7826025,8146826
2,Revenue Growth (YoY),0.2197,0.2034,0.1735,0.1679,0.1677,0.177,0.204,0.2317,0.2649,...,0.1322,0.0822,0.083,0.0713,0.1101,0.2178,0.2367,0.2611,0.2392,0.1905
3,Cost of Revenues,-1629877,-1704274,-1763868,-1845576,-1926918,-2012421,-2128589,-2271642,-2416563,...,-3775212,-3769550,-3858773,-3913541,-4020507,-4227323,-4404862,-4642998,-4855787,-5051146
4,Gross Profit,998935,1026950,1053504,1097650,1142687,1202170,1263414,1353648,1466042,...,1913712,1849881,1958375,2071093,2294930,2615914,2789276,2904063,2970238,3095680
5,Gross Profit Margin,0.38,0.376,0.3739,0.3729,0.3723,0.374,0.3725,0.3734,0.3776,...,0.3364,0.3292,0.3367,0.3461,0.3634,0.3823,0.3877,0.3848,0.3795,0.38
6,R&D Expenses,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Selling and Marketing Expense,-31902,-34999,-34999,-34999,-34999,-44389,-44389,-44389,-44389,...,-141567,-141567,-141567,-222820,-222820,-222820,-222820,-222091,-222091,-222091
8,General & Admin Expenses,-178223,-183409,-178286,-186943,-191063,-203733,-226439,-250366,-268812,...,-442894,-424146,-442226,-459892,-508525,-504095,-516875,-601441,-593740,-631059
9,Other Inc / (Exp),-341265,-352677,-366534,-389395,-410821,-421328,-444260,-477143,-500809,...,-924333,-1004209,-1103148,-1098217,-1183100,-1258050,-1286048,-1269620,-1314717,-1300357
10,Operating Expenses,-551390,-571085,-579819,-611337,-636883,-669450,-715088,-771898,-814010,...,-1508794,-1569922,-1686941,-1780929,-1914445,-1984965,-2025743,-2093152,-2130548,-2153507
11,Operating Income,447545,455865,473685,486313,505804,532720,548326,581750,652032,...,404918,279959,271434,290164,380485,630949,763533,810911,839690,942173
12,Net Interest Expenses,1772,1820,1652,1605,1823,1751,2174,2988,3008,...,13941,10617,5611,3617,-1294,-1066,-597,1852,3807,3118
13,"EBT, Incl. Unusual Items",449317,457685,475337,487918,507627,534471,550500,584738,655040,...,418859,290576,277045,293781,379191,629883,762936,812763,843497,945291
14,Earnings of Discontinued Ops.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Income Tax Expense,-175197,-179685,-183417,-189828,-198458,-207033,-216577,-228398,-251278,...,-80445,-35015,-39822,61985,27288,-43605,-52468,-159779,-159320,-189146
16,Net Income to Company,274120,278000,291920,298090,309169,327438,333923,356340,403762,...,338414,255561,237223,355766,406479,586278,710468,652984,684177,756145
17,Minority Interest in Earnings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Net Income to Stockholders,274120,278000,291920,298090,309169,327438,333923,356340,403762,...,338414,255561,237223,355766,406479,586278,710468,652984,684177,756145
19,Preferred Dividends & Other Adj.,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Net Income to Common Excl Extra Items,274120,278000,291920,298090,309169,327438,333923,356340,403762,...,338414,255561,237223,355766,406479,586278,710468,652984,684177,756145
21,Basic EPS (Cont. Ops),8.7,8.8218,9.2928,9.5497,9.964,10.5772,10.7824,11.4924,13.0093,...,12.1889,9.189,8.5144,12.7437,14.517,20.8963,25.2831,23.2114,24.338,26.9532
22,Diluted EPS (Cont. Ops),8.601,8.75,9.2282,9.4811,9.8728,10.47,10.6595,11.342,12.8322,...,11.9506,9.0238,8.3622,12.52,14.2723,20.5508,24.9049,22.9,24.047,26.676
23,Weighted Average Basic Shares Out.,31643,31303,31012,30901,30897,31019,31061,31049,31020,...,27792,27911,27973,27992,28125,28134,28150,28119,28043,27905
24,Weighted Average Diluted Shares Out.,31846,31486,31229,31176,31296,31425,31486,31474,31547,...,28323,28333,28454,28552,28582,28501,28475,28485,28301,28092
25,EBITDA,534346,545022,565784,581390,605143,635525,654168,691207,764033,...,660234,544556,546069,565674,657075,956304,1088566,1084304,1120268,1177864
26,EBIT,453159,460892,478802,491354,511851,539471,555296,588923,658406,...,442863,318803,312342,327140,413793,710964,840215,829647,857068,907013
27,Revenue (Reported),2628812,2731224,2817372,2943226,3069605,3214591,3392003,3625290,3882605,...,6997141,8361879,5817148,5984634,6315437,6843237,7194138,7547061,7826025,8146826
28,Operating Income (Reported),447545,455865,473685,486313,505804,532720,548326,581750,652032,...,404918,279959,271434,290164,380485,630949,763533,804943,833722,925795
29,Operating Income (Adjusted),453159,460892,478802,491354,511851,539471,555296,588923,658406,...,442863,318803,312342,327140,413793,710964,840215,829647,857068,907013

In [31]:
#Considering only the Revenue of the fast food chain for analysis
chipotle = chipotle[chipotle['Unnamed: 0'] == 'Revenue (Reported)']
chipotle

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
27,Revenue (Reported),2628812,2731224,2817372,2943226,3069605,3214591,3392003,3625290,3882605,...,6997141,8361879,5817148,5984634,6315437,6843237,7194138,7547061,7826025,8146826

In [32]:
#Changing the data type from string to integer for Converting Quaterly data into Annual data
chipotle["2015"] = chipotle["LTM.FQ-26"].astype(float)
chipotle["2016"] = chipotle["LTM.FQ-22"].astype(float)
chipotle["2017"] = chipotle["LTM.FQ-18"].astype(float)
chipotle["2018"] = chipotle["LTM.FQ-14"].astype(float)
chipotle["2019"] = chipotle["LTM.FQ-10"].astype(float)
chipotle["2020"] = chipotle["LTM.FQ-6"].astype(float)
chipotle["2021"] = chipotle["LTM.FQ-2"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1367165789.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipotle["2015"] = chipotle["LTM.FQ-26"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1367165789.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipotle["2016"] = chipotle["LTM.FQ-22"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1367165789.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipotle["2017"] = chipotle["LTM.FQ-18"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1367165789.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipotle["2018"] = chipotle["LTM.FQ-14"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1367165789.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipotle["2019"] = chipotle["LTM.FQ-10"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1367165789.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipotle["2020"] = chipotle["LTM.FQ-6"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1367165789.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipotle["2021"] = chipotle["LTM.FQ-2"].astype(float)

In [33]:
chipotle

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-2,LTM.FQ-1,LTM,2015,2016,2017,2018,2019,2020,2021
27,Revenue (Reported),2628812,2731224,2817372,2943226,3069605,3214591,3392003,3625290,3882605,...,7547061,7826025,8146826,4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0

In [34]:
chipotle_revenue = chipotle[['Unnamed: 0','2015','2016','2017','2018','2019','2020','2021']]

In [35]:
Mcdonalds

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
0,Period End Date,2012-09-30,2012-12-31,2013-03-31,2013-06-30,2013-09-30,2013-12-31,2014-03-31,2014-06-30,2014-09-30,...,2020-03-31,2020-06-30,2020-09-30,2020-12-31,2021-03-31,2021-06-30,2021-09-30,2021-12-31,2022-03-31,2022-06-30
1,Revenue,27437600,27567000,27625700,27793600,27964600,28105700,28200700,28298600,27962300,...,21054700,19406400,19322200,19207800,19618000,21744400,22527600,23222900,23763900,23594400
2,Revenue Growth (YoY),0.0394,0.0208,0.0067,0.0125,0.0192,0.0195,0.0208,0.0182,-0.0001,...,0.0069,-0.0744,-0.0842,-0.1009,-0.0682,0.1205,0.1659,0.209,0.2113,0.0851
3,Cost of Revenues,-16636000,-16750700,-16842800,-16961400,-17076400,-17203000,-17266000,-17344800,-17237900,...,-10084900,-9553900,-9482600,-9455700,-9539500,-10171700,-10428200,-10642700,-10801900,-10549800
4,Gross Profit,10801600,10816300,10782900,10832200,10888200,10902700,10934700,10953800,10724400,...,10969800,9852500,9839600,9752100,10078500,11572700,12099400,12580200,12962000,13044600
5,Gross Profit Margin,0.3937,0.3924,0.3903,0.3897,0.3894,0.3879,0.3877,0.3871,0.3835,...,0.521,0.5077,0.5092,0.5077,0.5137,0.5322,0.5371,0.5417,0.5454,0.5529
6,R&D Expenses,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,"Selling, General & Admin Expenses",-2491900,-2455200,-2459200,-2448900,-2382300,-2385600,-2409500,-2431700,-2453200,...,-2045500,-2151600,-2131700,-2245000,-2219100,-2215500,-2320400,-2377800,-2471700,-2510500
8,Other Inc / (Exp),164500,206500,219900,213500,213900,200200,160700,179200,95300,...,-197200,-292300,-199400,-166300,12800,222300,259500,102300,-610600,-1629400
9,Operating Expenses,-2327400,-2248700,-2239300,-2235400,-2168400,-2185400,-2248800,-2252500,-2357900,...,-2242700,-2443900,-2331100,-2411300,-2206300,-1993200,-2060900,-2275500,-3082300,-4139900
10,Operating Income,8474200,8567600,8543600,8596800,8719800,8717300,8685900,8701300,8366500,...,8727100,7408600,7508500,7340800,7872200,9579500,10038500,10304700,9879700,8904700
11,Net Interest Expenses,-479500,-488600,-495300,-498500,-502500,-512800,-514900,-518700,-535400,...,-1095400,-1136000,-1171000,-1200100,-1223700,-1203700,-1188400,-1176800,-1163300,-1155200
12,"EBT, Incl. Unusual Items",7994700,8079000,8048300,8098300,8217300,8204500,8171000,8182600,7831100,...,7631700,6272600,6337500,6140700,6648500,8375800,8850100,9127900,8716400,7749500
13,Earnings of Discontinued Ops.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Income Tax Expense,-2549400,-2614200,-2580000,-2580500,-2632300,-2618600,-2650500,-2671500,-2773800,...,-1827800,-1501800,-1412000,-1410200,-1487700,-1479500,-1566500,-1582700,-1604000,-1668400
15,Net Income to Company,5445300,5464800,5468300,5517800,5585000,5585900,5520500,5511100,5057300,...,5803900,4770800,4925500,4730500,5160800,6896300,7283600,7545200,7112400,6081100
16,Minority Interest in Earnings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Net Income to Stockholders,5445300,5464800,5468300,5517800,5585000,5585900,5520500,5511100,5057300,...,5803900,4770800,4925500,4730500,5160800,6896300,7283600,7545200,7112400,6081100
18,Preferred Dividends & Other Adj.,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Net Income to Common Excl Extra Items,5445300,5464800,5468300,5517800,5585000,5585900,5520500,5511100,5057300,...,5803900,4770800,4925500,4730500,5160800,6896300,7283600,7545200,7112400,6081100
20,Basic EPS (Cont. Ops),5.3648,5.4102,5.4345,5.5005,5.5797,5.5949,5.5475,5.5578,5.1243,...,7.7069,6.373,6.6063,6.3531,6.9286,9.2499,9.7613,10.1101,9.5404,8.1823
21,Diluted EPS (Cont. Ops),5.3102,5.36,5.3919,5.4622,5.5405,5.55,5.5022,5.5222,5.081,...,7.6398,6.3272,6.5551,6.31,6.8906,9.1892,9.7006,10.04,9.4746,8.1294
22,Weighted Average Basic Shares Out.,1006100,1010700,1002700,1001400,997300,999300,989600,987400,978700,...,744800,743800,744500,751000,745800,746600,747100,751600,742600,737500
23,Weighted Average Diluted Shares Out.,1015400,1010700,1010800,1008700,1004200,999300,995900,993200,983800,...,750700,748600,750000,751000,751000,752100,752600,751600,747600,742000
24,EBITDA,9779700,9849600,9838600,9923200,10068400,10102200,10129600,10148800,9916800,...,10301100,8972900,9124400,8964700,9347000,10993500,11313100,11741200,12038200,12070900
25,EBIT,8309700,8361100,8323700,8383300,8505900,8517100,8525200,8522100,8271200,...,8654500,7298900,7423700,7213300,7563000,9171800,9462300,9873100,10144300,10178200
26,Revenue (Reported),27437600,27567000,27625700,27793600,27964600,28105700,28200700,28298600,27962300,...,21054700,19406400,19322200,19207800,19618000,21744400,22527600,23222900,23763900,23594400
27,Operating Income (Reported),8526800,8604600,8589500,8632200,8761700,8764300,8750800,8742100,8397900,...,8669400,7356600,7473700,7324000,7911700,9641700,10101800,10356000,10387300,9408000
28,Operating Income (Adjusted),8309700,8361100,8323700,8383300,8505900,8517100,8525200,8522100,8271200,...,8654500,7298900,7423700,7213300,7563000,9171800,9462300,9873100,10144300,10178200

In [36]:
#Considering only the Revenue of the fast food chain for analysis
Mcdonalds = Mcdonalds[Mcdonalds['Unnamed: 0'] == 'Revenue (Reported)']
Mcdonalds

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
26,Revenue (Reported),27437600,27567000,27625700,27793600,27964600,28105700,28200700,28298600,27962300,...,21054700,19406400,19322200,19207800,19618000,21744400,22527600,23222900,23763900,23594400

In [37]:
#Changing the data type from string to integer for Converting Quaterly data into Annual data
Mcdonalds["2015"] = Mcdonalds["LTM.FQ-26"].astype(float)
Mcdonalds["2016"] = Mcdonalds["LTM.FQ-22"].astype(float)
Mcdonalds["2017"] = Mcdonalds["LTM.FQ-18"].astype(float)
Mcdonalds["2018"] = Mcdonalds["LTM.FQ-14"].astype(float)
Mcdonalds["2019"] = Mcdonalds["LTM.FQ-10"].astype(float)
Mcdonalds["2020"] = Mcdonalds["LTM.FQ-6"].astype(float)
Mcdonalds["2021"] = Mcdonalds["LTM.FQ-2"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/425783841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mcdonalds["2015"] = Mcdonalds["LTM.FQ-26"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/425783841.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mcdonalds["2016"] = Mcdonalds["LTM.FQ-22"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/425783841.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mcdonalds["2017"] = Mcdonalds["LTM.FQ-18"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/425783841.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mcdonalds["2018"] = Mcdonalds["LTM.FQ-14"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/425783841.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mcdonalds["2019"] = Mcdonalds["LTM.FQ-10"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/425783841.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mcdonalds["2020"] = Mcdonalds["LTM.FQ-6"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/425783841.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mcdonalds["2021"] = Mcdonalds["LTM.FQ-2"].astype(float)

In [38]:
Mcdonalds_revenue = Mcdonalds[['Unnamed: 0','2015','2016','2017','2018','2019','2020','2021']]

In [39]:
Mcdonalds_revenue

,Unnamed: 0,2015,2016,2017,2018,2019,2020,2021
26,Revenue (Reported),25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0

In [63]:
dominos

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
0,Period End Date,2012-12-30,2013-03-24,2013-06-16,2013-09-08,2013-12-29,2014-03-23,2014-06-15,2014-09-07,2014-12-28,...,2020-06-14,2020-09-06,2021-01-03,2021-03-28,2021-06-20,2021-09-12,2022-01-02,2022-03-27,2022-06-19,2022-09-11
1,Revenue,1678439,1711469,1749354,1775326,1802223,1838458,1874911,1917430,1993833,...,3764289,3911196,4117411,4228007,4340456,4370727,4357373,4384824,4417534,4488140
2,Revenue Growth (YoY),0.0159,0.0388,0.0675,0.0822,0.0737,0.0742,0.0718,0.08,0.1063,...,0.0707,0.1016,0.1378,0.1565,0.1531,0.1175,0.0583,0.0371,0.0178,0.0269
3,Cost of Revenues,-1177101,-1194974,-1221479,-1238224,-1253249,-1283748,-1311543,-1341182,-1399067,...,-2717954,-2837785,-2985156,-3062284,-3135034,-3142516,-3148632,-3191839,-3240715,-3320286
4,Gross Profit,501338,516495,527875,537102,548974,554710,563368,576248,594766,...,1046335,1073411,1132255,1165723,1205422,1228211,1208741,1192985,1176819,1167854
5,Gross Profit Margin,0.2987,0.3018,0.3018,0.3025,0.3046,0.3017,0.3005,0.3005,0.2983,...,0.278,0.2744,0.275,0.2757,0.2777,0.281,0.2774,0.2721,0.2664,0.2602
6,R&D Expenses,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Selling and Marketing Expense,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,General & Admin Expenses,-219007,-227334,-230651,-232922,-235163,-230449,-231585,-237799,-243105,...,-378438,-386362,-406613,-409377,-421757,-426447,-428333,-434574,-431196,-426059
9,Other Inc / (Exp),0,1800,1800,0,0,-1800,-1800,1700,-6300,...,-1500,-1500,0,2500,2500,2500,36758,34258,34258,34258
10,Operating Expenses,-219007,-225534,-228851,-232922,-235163,-232249,-233385,-236099,-249405,...,-379938,-387862,-406613,-406877,-419257,-423947,-391575,-400316,-396938,-391801
11,Operating Income,282331,290961,299024,304180,313811,322461,329983,340149,345361,...,666397,685549,725642,758846,786165,804264,817166,792669,779881,776053
12,Net Interest Expenses,-101144,-89951,-89682,-89354,-88712,-88104,-87532,-87162,-86738,...,-157090,-162714,-170512,-171374,-178096,-185163,-191461,-198884,-197707,-196836
13,"EBT, Incl. Unusual Items",181187,201010,209342,214826,225099,234357,242451,252987,258623,...,509307,522835,555130,587472,608069,619101,625705,593785,582174,579217
14,Earnings of Discontinued Ops.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Income Tax Expense,-68795,-74940,-78097,-78926,-82114,-85318,-88220,-93770,-96036,...,-53337,-54109,-63834,-100017,-122663,-112422,-115238,-110115,-112630,-129571
16,Net Income to Company,112392,126070,131245,135900,142985,149039,154231,159217,162587,...,455970,468726,491296,487455,485406,506679,510467,483670,469544,449646
17,Minority Interest in Earnings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Net Income to Stockholders,112392,126070,131245,135900,142985,149039,154231,159217,162587,...,455970,468726,491296,487455,485406,506679,510467,483670,469544,449646
19,Preferred Dividends & Other Adj.,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Net Income to Common Excl Extra Items,112392,126070,131245,135900,142985,149039,154231,159217,162587,...,455970,468726,491296,487455,485406,506679,510467,483670,469544,449646
21,Basic EPS (Cont. Ops),1.9921,2.2466,2.3519,2.4465,2.5835,2.6994,2.7992,2.8955,2.9605,...,11.4781,11.9274,12.6057,12.5044,12.5702,13.3474,13.7229,13.2427,13.0051,12.5351
22,Diluted EPS (Cont. Ops),1.91,2.1514,2.2624,2.3534,2.48,2.6002,2.6908,2.7918,2.86,...,11.2151,11.6848,12.39,12.3209,12.4037,13.1748,13.54,13.0765,12.8482,12.3948
23,Weighted Average Basic Shares Out.,58487.618,55746.79,55468.971,55065.45,57412.557,55211.837,55015.394,54620.539,56777.007,...,39058.292,39246.231,39463.552,38700.225,37590.369,36627.66,36668.295,36000.896,35915.102,35692.744
24,Weighted Average Diluted Shares Out.,58487.618,58224.408,57960.232,57345.677,57412.557,57372.471,57124.457,56610.608,56777.007,...,39746.479,39791.805,39463.552,39208.383,38122.515,37130.209,36668.295,36435.038,36296.277,36062.316
25,EBITDA,302998,300419,308368,314533,334594,345828,354230,361770,380149,...,705966,727313,767680,800817,830555,849905,829031,809545,797698,796225
26,EBIT,282331,289161,297224,304180,313811,324261,331783,338449,351661,...,667897,687049,725642,756346,783665,801764,780408,758411,745623,741795
27,Revenue (Reported),1678439,1711469,1749354,1775326,1802223,1838458,1874911,1917430,1993833,...,3764289,3911196,4117411,4228007,4340456,4370727,4357373,4384824,4417534,4488140
28,Operating Income (Reported),282331,290961,299024,304180,313811,322461,329983,340149,345361,...,666397,685549,725642,756346,783665,801764,780408,758411,745623,741795
29,Operating Income (Adjusted),282331,289161,297224,304180,313811,324261,331783,338449,351661,...,667897,687049,725642,756346,783665,801764,780408,758411,745623,741795

In [64]:
#Considering only the Revenue of the fast food chain for analysis
dominos = dominos[dominos['Unnamed: 0'] == 'Revenue (Reported)']
dominos

,Unnamed: 0,LTM.FQ-39,LTM.FQ-38,LTM.FQ-37,LTM.FQ-36,LTM.FQ-35,LTM.FQ-34,LTM.FQ-33,LTM.FQ-32,LTM.FQ-31,...,LTM.FQ-9,LTM.FQ-8,LTM.FQ-7,LTM.FQ-6,LTM.FQ-5,LTM.FQ-4,LTM.FQ-3,LTM.FQ-2,LTM.FQ-1,LTM
27,Revenue (Reported),1678439,1711469,1749354,1775326,1802223,1838458,1874911,1917430,1993833,...,3764289,3911196,4117411,4228007,4340456,4370727,4357373,4384824,4417534,4488140

In [65]:
#Changing the data type from string to integer for Converting Quaterly data into Annual data
dominos["2015"] = dominos["LTM.FQ-28"].astype(float)
dominos["2016"] = dominos["LTM.FQ-24"].astype(float)
dominos["2017"] = dominos["LTM.FQ-19"].astype(float)
dominos["2018"] = dominos["LTM.FQ-15"].astype(float)
dominos["2019"] = dominos["LTM.FQ-11"].astype(float)
dominos["2020"] = dominos["LTM.FQ-8"].astype(float)
dominos["2021"] = dominos["LTM.FQ-4"].astype(float)

/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1693106023.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dominos["2015"] = dominos["LTM.FQ-28"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1693106023.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dominos["2016"] = dominos["LTM.FQ-24"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1693106023.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dominos["2017"] = dominos["LTM.FQ-19"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1693106023.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dominos["2018"] = dominos["LTM.FQ-15"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1693106023.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dominos["2019"] = dominos["LTM.FQ-11"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1693106023.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dominos["2020"] = dominos["LTM.FQ-8"].astype(float)
/var/folders/6t/m3brq_pj49jd39l2d8j6jp000000gn/T/ipykernel_79327/1693106023.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dominos["2021"] = dominos["LTM.FQ-4"].astype(float)

In [66]:
dominos_revenue = dominos[['Unnamed: 0','2015','2016','2017','2018','2019','2020','2021']]
dominos_revenue

,Unnamed: 0,2015,2016,2017,2018,2019,2020,2021
27,Revenue (Reported),2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0

In [67]:
#concatenation of all the Revenue data sets of different fastfood chains into one dataframe as Revenue
Revenue = pd.concat([wendys_revenue, starbucks_revenue, chipotle_revenue, Mcdonalds_revenue, dominos_revenue])
Revenue

,Unnamed: 0,2015,2016,2017,2018,2019,2020,2021
27,Revenue (Reported),1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0
27,Revenue (Reported),19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0
27,Revenue (Reported),4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0
26,Revenue (Reported),25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0
27,Revenue (Reported),2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0

In [68]:
Fastfood_chain = ['wendys', 'starbucks', 'chipotle', 'Mcdonalds', 'dominos']

In [69]:
Revenue['Fastfood_chain'] = Fastfood_chain

In [70]:
Revenue

,Unnamed: 0,2015,2016,2017,2018,2019,2020,2021,Fastfood_chain
27,Revenue (Reported),1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0,wendys
27,Revenue (Reported),19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0,starbucks
27,Revenue (Reported),4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0,chipotle
26,Revenue (Reported),25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0,Mcdonalds
27,Revenue (Reported),2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0,dominos

In [71]:
Revenue= Revenue.drop(['Unnamed: 0'], axis=1)

In [72]:
Revenue

,2015,2016,2017,2018,2019,2020,2021,Fastfood_chain
27,1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0,wendys
27,19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0,starbucks
27,4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0,chipotle
26,25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0,Mcdonalds
27,2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0,dominos

In [73]:
order = [7,0,1,2,3,4,5,6]

In [74]:
Revenue = Revenue[[Revenue.columns[i] for i in order]]

In [75]:
Revenue

,Fastfood_chain,2015,2016,2017,2018,2019,2020,2021
27,wendys,1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0
27,starbucks,19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0
27,chipotle,4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0
26,Mcdonalds,25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0
27,dominos,2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0

In [76]:
#Resetting the dataframe index after removal of few rows
Revenue_final = Revenue.reset_index()
Revenue_final

,index,Fastfood_chain,2015,2016,2017,2018,2019,2020,2021
0,27,wendys,1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0
1,27,starbucks,19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0
2,27,chipotle,4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0
3,26,Mcdonalds,25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0
4,27,dominos,2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0

In [77]:
Revenue_final = Revenue_final[["Fastfood_chain","2015","2016","2017","2018","2019","2020","2021"]]

In [78]:
Revenue_final["Revenue_2015"] = Revenue_final["2015"]
Revenue_final["Revenue_2016"] = Revenue_final["2016"]
Revenue_final["Revenue_2017"] = Revenue_final["2017"]
Revenue_final["Revenue_2018"] = Revenue_final["2018"]
Revenue_final["Revenue_2019"] = Revenue_final["2019"]
Revenue_final["Revenue_2020"] = Revenue_final["2020"]
Revenue_final["Revenue_2021"] = Revenue_final["2021"]
Revenue_final.head()

,Fastfood_chain,2015,2016,2017,2018,2019,2020,2021,Revenue_2015,Revenue_2016,Revenue_2017,Revenue_2018,Revenue_2019,Revenue_2020,Revenue_2021
0,wendys,1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0,1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0
1,starbucks,19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0,19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0
2,chipotle,4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0,4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0
3,Mcdonalds,25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0,25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0
4,dominos,2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0,2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0

In [79]:
#Dropping unnecessary columns
Revenue_final = Revenue_final.drop(["2015","2016","2017"],axis=1)
Revenue_final = Revenue_final.drop(["2018","2019","2020","2021"],axis=1)
Revenue_final

,Fastfood_chain,Revenue_2015,Revenue_2016,Revenue_2017,Revenue_2018,Revenue_2019,Revenue_2020,Revenue_2021
0,wendys,1870297.0,1435418.0,1223408.0,1589936.0,1709002.0,1733825.0,1896998.0
1,starbucks,19162700.0,21675300.0,22386800.0,24719500.0,26973000.0,23518000.0,29060600.0
2,chipotle,4501223.0,3904384.0,4476412.0,4864985.0,5586369.0,5984634.0,7547061.0
3,Mcdonalds,25413000.0,24621900.0,22820400.0,21257900.0,21364400.0,19207800.0,23222900.0
4,dominos,2118295.0,2394376.0,2787979.0,3432867.0,3618774.0,3911196.0,4370727.0

In [80]:
#checking for null values
Revenue_final.isna().sum()

Fastfood_chain    0
Revenue_2015      0
Revenue_2016      0
Revenue_2017      0
Revenue_2018      0
Revenue_2019      0
Revenue_2020      0
Revenue_2021      0
dtype: int64

In [81]:
#Converting float to integer to remove decimals
Revenue_final["Revenue_2015"] = Revenue_final["Revenue_2015"].apply(np.int64)
Revenue_final["Revenue_2016"] = Revenue_final["Revenue_2016"].apply(np.int64)
Revenue_final["Revenue_2017"] = Revenue_final["Revenue_2017"].apply(np.int64)
Revenue_final["Revenue_2018"] = Revenue_final["Revenue_2018"].apply(np.int64)
Revenue_final["Revenue_2019"] = Revenue_final["Revenue_2019"].apply(np.int64)
Revenue_final["Revenue_2020"] = Revenue_final["Revenue_2020"].apply(np.int64)
Revenue_final["Revenue_2021"] = Revenue_final["Revenue_2021"].apply(np.int64)

In [82]:
#Final Revenue data set
Revenue_final

,Fastfood_chain,Revenue_2015,Revenue_2016,Revenue_2017,Revenue_2018,Revenue_2019,Revenue_2020,Revenue_2021
0,wendys,1870297,1435418,1223408,1589936,1709002,1733825,1896998
1,starbucks,19162700,21675300,22386800,24719500,26973000,23518000,29060600
2,chipotle,4501223,3904384,4476412,4864985,5586369,5984634,7547061
3,Mcdonalds,25413000,24621900,22820400,21257900,21364400,19207800,23222900
4,dominos,2118295,2394376,2787979,3432867,3618774,3911196,4370727

In [251]:
#percapita income is GDP divided by population of USA 
population_final['percapita_2015'] = GDP_final['GDP_2015']/population_final['pop_2015']

In [252]:
population_final['percapita_2016'] = GDP_final['GDP_2016']/population_final['pop_2016']

In [253]:
population_final['percapita_2017'] = GDP_final['GDP_2017']/population_final['pop_2017']
population_final['percapita_2018'] = GDP_final['GDP_2018']/population_final['pop_2018']
population_final['percapita_2019'] = GDP_final['GDP_2019']/population_final['pop_2019']
population_final['percapita_2020'] = GDP_final['GDP_2020']/population_final['pop_2020']
population_final['percapita_2021'] = GDP_final['GDP_2021']/population_final['pop_2021']

In [254]:
population_final.head()

,State Name,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021,percapita_2016,percapita_2017,percapita_2018,percapita_2019,percapita_2020,percapita_2021,percapita_2015
0,Alabama,4858979,4863300,4874747,4887871,4903185,5024803,5039877,0.040181,0.040729,0.041182,0.041701,0.040678,0.042269,0.039469
1,Alaska,738432,741894,739795,737438,731545,732441,732673,0.072618,0.073209,0.072281,0.073250,0.069725,0.069804,0.073861
2,Arizona,6828065,6931071,7016270,7171646,7278717,7177986,7276316,0.042495,0.043929,0.044232,0.045435,0.047114,0.049108,0.041735
3,Arkansas,2978204,2988248,3004279,3013825,3017804,3012232,3025891,0.038060,0.038257,0.038670,0.039152,0.039735,0.041256,0.037853
4,California,39144818,39250017,39536653,39557045,39512223,39499738,39237836,0.062591,0.065756,0.067619,0.070172,0.069527,0.075003,0.060536

In [255]:
percapita_final = population_final[['State Name','percapita_2015','percapita_2016','percapita_2017','percapita_2018','percapita_2019','percapita_2020','percapita_2021']]

In [256]:
#Final dataset of percapita income
percapita_final.head()

,State Name,percapita_2015,percapita_2016,percapita_2017,percapita_2018,percapita_2019,percapita_2020,percapita_2021
0,Alabama,0.039469,0.040181,0.040729,0.041182,0.041701,0.040678,0.042269
1,Alaska,0.073861,0.072618,0.073209,0.072281,0.073250,0.069725,0.069804
2,Arizona,0.041735,0.042495,0.043929,0.044232,0.045435,0.047114,0.049108
3,Arkansas,0.037853,0.038060,0.038257,0.038670,0.039152,0.039735,0.041256
4,California,0.060536,0.062591,0.065756,0.067619,0.070172,0.069527,0.075003

In [257]:
population_final = population_final.drop(['percapita_2015','percapita_2016','percapita_2017','percapita_2018','percapita_2019','percapita_2020','percapita_2021'], axis=1)

In [258]:
population_final.head()

,State Name,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021
0,Alabama,4858979,4863300,4874747,4887871,4903185,5024803,5039877
1,Alaska,738432,741894,739795,737438,731545,732441,732673
2,Arizona,6828065,6931071,7016270,7171646,7278717,7177986,7276316
3,Arkansas,2978204,2988248,3004279,3013825,3017804,3012232,3025891
4,California,39144818,39250017,39536653,39557045,39512223,39499738,39237836

In [214]:
#Read the data set with all the personal consumption information
US_personalconsumption = pd.read_csv("personal_consumption_ALL_AREAS_1997_2021.csv")

In [215]:
US_personalconsumption.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"""01000""",Alabama,5.0,SAPCE1,1.0,...,Personal consumption expenditures,Millions of current dollars,77070.9,80481.0,...,140347.7,144027.9,148689.4,152755.9,157119.9,163308.1,170793.3,177412.1,177093.9,199866.7
1,"""01000""",Alabama,5.0,SAPCE1,2.0,...,Goods,Millions of current dollars,29995.6,30983.5,...,53205.7,54377.8,55697.1,56053.7,56370.8,58156.5,60544.3,62273.6,65796.5,77553.5
2,"""01000""",Alabama,5.0,SAPCE1,3.0,...,Durable goods,Millions of current dollars,9990.1,10678.2,...,15071.9,15539.1,16053.4,16834.2,17323.0,17872.1,18745.1,19353.8,21669.1,26894.8
3,"""01000""",Alabama,5.0,SAPCE1,4.0,...,Motor vehicles and parts,Millions of current dollars,4890.3,5291.3,...,6512.4,6757.0,6995.7,7427.1,7602.4,7807.7,8133.6,8116.1,8685.7,11302.7
4,"""01000""",Alabama,5.0,SAPCE1,5.0,...,Furnishings and durable household equipment,Millions of current dollars,2164.5,2271.3,...,3172.8,3256.5,3377.9,3596.7,3782.9,3954.0,4229.0,4489.2,5425.1,6306.0

In [216]:
US_personalconsumption = US_personalconsumption[US_personalconsumption['Description']=='   Food and beverages purchased for off-premises consumption ']

In [217]:
US_personalconsumption.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
8,"""01000""",Alabama,5.0,SAPCE1,9.0,...,Food and beverages purchased for off-premis...,Millions of current dollars,7747.3,7866.4,...,11840.2,11889.6,12214.6,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
32,"""02000""",Alaska,8.0,SAPCE1,9.0,...,Food and beverages purchased for off-premis...,Millions of current dollars,1450.0,1512.4,...,2821.7,2818.0,2814.4,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
56,"""04000""",Arizona,6.0,SAPCE1,9.0,...,Food and beverages purchased for off-premis...,Millions of current dollars,8135.9,8470.6,...,16847.8,17054.9,18024.3,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
80,"""05000""",Arkansas,5.0,SAPCE1,9.0,...,Food and beverages purchased for off-premis...,Millions of current dollars,3952.4,4000.5,...,6606.6,6720.0,6962.1,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
104,"""06000""",California,8.0,SAPCE1,9.0,...,Food and beverages purchased for off-premis...,Millions of current dollars,54740.4,55894.6,...,100959.9,103792.8,109201.3,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2

In [218]:
#Subset of only required rows
personal_consumption = US_personalconsumption[['GeoName','2015','2016','2017','2018','2019','2020','2021']]

In [219]:
personal_consumption

,GeoName,2015,2016,2017,2018,2019,2020,2021
8,Alabama,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
32,Alaska,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
56,Arizona,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
80,Arkansas,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
104,California,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2
128,Colorado,17381.8,18325.6,19271.2,19810.5,20636.1,22705.6,23819.4
152,Connecticut,11711.5,11809.7,12121.2,12072.1,12171.1,13170.0,14440.2
176,Delaware,2885.5,2884.9,2949.4,3061.0,3104.2,3436.1,3656.8
200,District of Columbia,3445.2,3479.9,3629.5,3704.5,3810.3,4020.8,4181.5
224,Florida,61698.9,63644.8,66212.9,69175.4,72444.9,78828.1,84644.5
248,Georgia,29235.7,29619.4,31407.8,32300.4,33344.6,36632.9,39947.9
272,Hawaii,4998.8,5099.4,5299.0,5543.1,5780.5,6294.8,6698.2
296,Idaho,4756.9,4867.9,5078.4,5207.4,5361.1,5818.7,6266.4
320,Illinois,33611.8,34030.5,35207.0,36111.8,37427.0,40509.5,43728.3
344,Indiana,18160.0,18826.5,19554.2,19801.3,20156.2,21776.8,23307.0
368,Iowa,8696.1,8879.0,8997.7,9049.9,8974.1,9726.3,10393.4
392,Kansas,8702.9,8914.3,9170.9,9372.5,9623.9,10506.2,11249.1
416,Kentucky,13297.6,13746.5,14322.2,14491.0,14589.6,15742.9,16699.5
440,Louisiana,12969.7,13158.9,13348.7,13525.2,13709.5,14785.8,16121.0
464,Maine,4493.1,4591.7,4781.9,4967.7,5205.8,5739.3,6174.0
488,Maryland,16423.4,16539.7,16912.5,17171.0,17383.1,18734.4,20129.7
512,Massachusetts,23041.4,23632.2,24827.2,25265.3,26022.2,27816.0,29483.4
536,Michigan,27613.7,28701.0,30196.9,30937.9,31818.1,34566.2,36522.7
560,Minnesota,15122.1,15228.3,15554.8,16076.6,16339.4,17478.6,18342.5
584,Mississippi,7889.2,7972.8,8151.6,8335.5,8557.9,9353.7,9723.1
608,Missouri,15938.0,16283.1,16733.9,17101.8,17497.5,18942.5,20312.2
632,Montana,3426.0,3449.7,3518.1,3663.1,3760.9,4048.5,4384.7
656,Nebraska,5258.4,5420.3,5555.9,5695.6,5851.6,6368.7,6828.2
680,Nevada,8679.5,8920.0,9338.3,9688.3,10098.1,11079.1,11896.1
704,New Hampshire,4715.8,4863.0,5078.2,5198.1,5367.7,5849.0,6113.8
728,New Jersey,28187.5,28315.6,29008.5,29548.5,30713.9,33192.4,35587.8
752,New Mexico,5860.4,5957.0,6044.9,6155.9,6233.4,6803.5,7338.4
776,New York,54709.1,55543.9,57599.8,60021.2,62591.2,67398.4,71346.8
800,North Carolina,27532.6,28087.6,29069.8,30106.2,31942.9,36129.0,38305.9
824,North Dakota,2284.8,2284.2,2250.8,2273.4,2281.8,2419.0,2598.6
848,Ohio,33735.0,34583.8,36437.7,37074.5,37712.7,40649.5,43004.9
872,Oklahoma,8675.5,8767.2,8970.3,9211.5,9442.0,10339.4,10987.4
896,Oregon,13277.7,13291.3,13683.3,14166.2,14730.5,16361.1,17427.0
920,Pennsylvania,36451.8,37154.5,37711.5,38333.9,39252.7,41854.1,45258.3
944,Rhode Island,3154.1,3260.5,3383.8,3521.2,3606.0,3895.7,4167.0
968,South Carolina,14069.6,14570.1,14742.3,15354.6,15860.7,17615.3,18839.4
992,South Dakota,2346.6,2394.6,2406.0,2464.1,2528.2,2752.0,2955.3
1016,Tennessee,16695.3,16636.9,16710.6,17185.6,17712.7,19654.4,21037.8
1040,Texas,75734.9,77414.6,80181.5,82780.6,85054.2,95433.5,102502.4
1064,Utah,7575.2,7893.8,8192.8,8553.3,8884.4,9701.3,10386.5
1088,Vermont,2347.5,2331.4,2359.9,2467.9,2518.1,2704.7,2868.4
1112,Virginia,24152.8,24907.4,26088.3,26600.7,27332.9,29855.8,32224.2
1136,Washington,23042.8,23279.5,24008.3,24918.8,25745.8,28993.2,30287.1
1160,West Virginia,5016.5,5158.0,5235.0,5253.0,5390.4,5821.4,6233.9
1184,Wisconsin,15735.9,15996.6,16553.5,16997.1,17290.0,18450.5,19384.4
1208,Wyoming,1858.9,1884.2,1930.7,1976.1,2042.2,2221.6,2327.7
1232,New England,49463.4,50488.5,52552.2,53492.2,54890.9,59174.6,63246.9
1256,Mideast,142102.5,143918.6,147811.2,151840.1,156855.4,168636.1,180161.0
1280,Great Lakes,128856.4,132138.4,137949.4,140922.6,144404.0,155952.4,165947.3
1304,Plains,58348.8,59403.9,60670.1,62034.0,63096.5,68193.3,72679.2
1328,Southeast,232236.5,237689.0,245888.0,253432.3,262466.6,288076.7,309669.7
1352,Southwest,108808.1,111185.3,115206.2,118642.1,121517.0,135637.4,145176.7
1376,Rocky Mountain,34998.9,36421.1,37991.1,39210.4,40684.7,44495.7,47184.6
1400,Far West,166140.9,169390.4,174833.0,180143.6,186901.7,205982.7,220968.0

In [220]:
#Removal of inconsistent data
personal_consumption = personal_consumption.drop([200,1232,1256,1280,1304,1328,1352,1376,1400])

In [221]:
#Resetting the dataframe index after removal of few rows
personal_consumption_final = personal_consumption.reset_index()
personal_consumption_final.head()

,index,GeoName,2015,2016,2017,2018,2019,2020,2021
0,8,Alabama,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
1,32,Alaska,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
2,56,Arizona,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
3,80,Arkansas,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
4,104,California,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2

In [222]:
personal_consumption_final = personal_consumption_final[['GeoName','2015','2016','2017','2018','2019','2020','2021']]
personal_consumption_final.head()

,GeoName,2015,2016,2017,2018,2019,2020,2021
0,Alabama,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
1,Alaska,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
2,Arizona,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
3,Arkansas,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
4,California,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2

In [223]:
#checking for null values
personal_consumption_final.isna().sum()

GeoName    0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
dtype: int64

In [224]:
personal_consumption_final["State Name"] = personal_consumption_final["GeoName"]
personal_consumption_final["personal_consumption_2015"] = personal_consumption_final["2015"]
personal_consumption_final["personal_consumption_2016"] = personal_consumption_final["2016"]
personal_consumption_final["personal_consumption_2017"] = personal_consumption_final["2017"]
personal_consumption_final["personal_consumption_2018"] = personal_consumption_final["2018"]
personal_consumption_final["personal_consumption_2019"] = personal_consumption_final["2019"]
personal_consumption_final["personal_consumption_2020"] = personal_consumption_final["2020"]
personal_consumption_final["personal_consumption_2021"] = personal_consumption_final["2021"]
personal_consumption_final.head()

,GeoName,2015,2016,2017,2018,2019,2020,2021,State Name,personal_consumption_2015,personal_consumption_2016,personal_consumption_2017,personal_consumption_2018,personal_consumption_2019,personal_consumption_2020,personal_consumption_2021
0,Alabama,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8,Alabama,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
1,Alaska,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4,Alaska,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
2,Arizona,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5,Arizona,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
3,Arkansas,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6,Arkansas,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
4,California,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2,California,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2

In [225]:
#Dropping unnecessary columns
personal_consumption_final = personal_consumption_final.drop(["GeoName","2015","2016","2017"],axis=1)
personal_consumption_final = personal_consumption_final.drop(["2018","2019","2020","2021"],axis=1)
personal_consumption_final.head()

,State Name,personal_consumption_2015,personal_consumption_2016,personal_consumption_2017,personal_consumption_2018,personal_consumption_2019,personal_consumption_2020,personal_consumption_2021
0,Alabama,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
1,Alaska,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
2,Arizona,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
3,Arkansas,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
4,California,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2

In [226]:
#Final data set with personal consumption data of all the states in required years
personal_consumption_final.head()

,State Name,personal_consumption_2015,personal_consumption_2016,personal_consumption_2017,personal_consumption_2018,personal_consumption_2019,personal_consumption_2020,personal_consumption_2021
0,Alabama,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
1,Alaska,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
2,Arizona,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
3,Arkansas,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
4,California,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2

In [527]:
#ALL MY FINAL DATA SETS

In [528]:
population_final.head()

,State Name,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021
0,Alabama,4858979,4863300,4874747,4887871,4903185,5024803,5039877
1,Alaska,738432,741894,739795,737438,731545,732441,732673
2,Arizona,6828065,6931071,7016270,7171646,7278717,7177986,7276316
3,Arkansas,2978204,2988248,3004279,3013825,3017804,3012232,3025891
4,California,39144818,39250017,39536653,39557045,39512223,39499738,39237836

In [529]:
GDP_final.head()

,State Name,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019,GDP_2020,GDP_2021
0,Alabama,765340.9,777135.2,787899.6,801490.5,813730.8,799523.1,839917.2
1,Alaska,218963.4,216986.5,217114.7,213307.9,213735.2,202820.7,203477.6
2,Arizona,1130307.9,1165100.9,1214424.2,1259309.7,1301581.1,1308712.1,1390623.9
3,Arkansas,449403.9,451192.5,455401.0,463540.9,468504.7,469072.6,493389.3
4,California,9429811.7,9711578.3,10152816.2,10576244.7,10916903.3,10668883.7,11498923.2

In [530]:
Revenue_final.head()

,Fastfood_chain,Revenue_2015,Revenue_2016,Revenue_2017,Revenue_2018,Revenue_2019,Revenue_2020,Revenue_2021
0,wendys,5760332,6947993,6505412,5004865,5317263,4070771,5872368
1,starbucks,75025500,61998100,111165500,97577500,105099500,97412900,80020300
2,chipotle,17808758,16065593,17325818,18824080,21174896,23110137,27899873
3,Mcdonalds,103772700,100039500,94902000,86331300,84340300,78991100,87112900
4,dominos,6240470,9176976,13173121,12724159,14168500,11331398,17056601

In [259]:
percapita_final.head()

,State Name,percapita_2015,percapita_2016,percapita_2017,percapita_2018,percapita_2019,percapita_2020,percapita_2021
0,Alabama,0.039469,0.040181,0.040729,0.041182,0.041701,0.040678,0.042269
1,Alaska,0.073861,0.072618,0.073209,0.072281,0.073250,0.069725,0.069804
2,Arizona,0.041735,0.042495,0.043929,0.044232,0.045435,0.047114,0.049108
3,Arkansas,0.037853,0.038060,0.038257,0.038670,0.039152,0.039735,0.041256
4,California,0.060536,0.062591,0.065756,0.067619,0.070172,0.069527,0.075003

In [260]:
personal_consumption_final.head()

,State Name,personal_consumption_2015,personal_consumption_2016,personal_consumption_2017,personal_consumption_2018,personal_consumption_2019,personal_consumption_2020,personal_consumption_2021
0,Alabama,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
1,Alaska,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
2,Arizona,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
3,Arkansas,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
4,California,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2

In [261]:
#concatenation of all the final data sets into one dataframe based on state name
import functools as ft
tables = [population_final, GDP_final, percapita_final, personal_consumption_final]

final_data = ft.reduce(lambda left, right: pd.merge(left, right,how='left', on='State Name'),tables)

In [262]:
final_data

,State Name,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021,GDP_2015,GDP_2016,...,percapita_2019,percapita_2020,percapita_2021,personal_consumption_2015,personal_consumption_2016,personal_consumption_2017,personal_consumption_2018,personal_consumption_2019,personal_consumption_2020,personal_consumption_2021
0,Alabama,4858979,4863300,4874747,4887871,4903185,5024803,5039877,191778.0,195414.6,...,0.041701,0.040678,0.042269,12471.7,12741.1,13003.7,13425.9,13851.2,15107.6,16433.8
1,Alaska,738432,741894,739795,737438,731545,732441,732673,54541.5,53874.6,...,0.073250,0.069725,0.069804,2773.3,2721.7,2707.8,2741.0,2778.2,2902.5,3018.4
2,Arizona,6828065,6931071,7016270,7171646,7278717,7177986,7276316,284969.4,294532.4,...,0.045435,0.047114,0.049108,18537.3,19046.5,20009.6,20494.1,20787.4,23061.1,24348.5
3,Arkansas,2978204,2988248,3004279,3013825,3017804,3012232,3025891,112732.8,113734.1,...,0.039152,0.039735,0.041256,7206.8,7445.5,7595.0,7678.9,7729.2,8549.9,9458.6
4,California,39144818,39250017,39536653,39557045,39512223,39499738,39237836,2369653.2,2456691.1,...,0.070172,0.069527,0.075003,113368.8,116078.5,119796.3,123086.1,127768.6,140352.0,151641.2
5,Colorado,5456574,5540545,5607154,5695564,5758736,5784308,5812069,315418.9,324234.0,...,0.063211,0.061905,0.065772,17381.8,18325.6,19271.2,19810.5,20636.1,22705.6,23819.4
6,Connecticut,3590886,3576452,3588184,3572665,3565287,3600260,3605597,242686.1,243894.5,...,0.070564,0.066703,0.069514,11711.5,11809.7,12121.2,12072.1,12171.1,13170.0,14440.2
7,Delaware,945934,952065,961939,967171,973764,991886,1003384,65537.4,62364.6,...,0.066680,0.063540,0.065403,2885.5,2884.9,2949.4,3061.0,3104.2,3436.1,3656.8
8,Florida,20271272,20612439,20984400,21299325,21477737,21569932,21781128,865203.9,894374.5,...,0.045441,0.045130,0.048868,61698.9,63644.8,66212.9,69175.4,72444.9,78828.1,84644.5
9,Georgia,10214860,10310371,10429379,10519475,10617423,10725800,10799566,494168.7,512918.2,...,0.052932,0.051118,0.054278,29235.7,29619.4,31407.8,32300.4,33344.6,36632.9,39947.9
10,Hawaii,1431603,1428557,1427538,1420491,1415872,1451911,1441553,76537.4,77761.6,...,0.056151,0.048247,0.052614,4998.8,5099.4,5299.0,5543.1,5780.5,6294.8,6698.2
11,Idaho,1654930,1683140,1716943,1754208,1787065,1847772,1900923,62938.7,65824.6,...,0.042009,0.042074,0.043597,4756.9,4867.9,5078.4,5207.4,5361.1,5818.7,6266.4
12,Illinois,12859995,12801539,12802023,12741080,12671821,12785245,12671469,752114.5,754072.8,...,0.061127,0.058389,0.062701,33611.8,34030.5,35207.0,36111.8,37427.0,40509.5,43728.3
13,Indiana,6619680,6633053,6666818,6691878,6732219,6785644,6805985,314195.2,323151.4,...,0.050440,0.049562,0.051658,18160.0,18826.5,19554.2,19801.3,20156.2,21776.8,23307.0
14,Iowa,3123899,3134693,3145711,3156145,3155070,3188669,3193079,171545.5,170665.6,...,0.056226,0.055663,0.055220,8696.1,8879.0,8997.7,9049.9,8974.1,9726.3,10393.4
15,Kansas,2911641,2907289,2913123,2911510,2913314,2935880,2934582,150516.3,155724.9,...,0.054975,0.054537,0.055950,8702.9,8914.3,9170.9,9372.5,9623.9,10506.2,11249.1
16,Kentucky,4425092,4436974,4454189,4468402,4467673,4503958,4509394,183506.2,185606.5,...,0.043720,0.042898,0.044436,13297.6,13746.5,14322.2,14491.0,14589.6,15742.9,16699.5
17,Louisiana,4670724,4681666,4684333,4659978,4648794,4651203,4624047,230277.4,229296.3,...,0.050780,0.046652,0.048125,12969.7,13158.9,13348.7,13525.2,13709.5,14785.8,16121.0
18,Maine,1329328,1331479,1335907,1338404,1344212,1362280,1372247,54973.2,56079.2,...,0.045019,0.045605,0.047131,4493.1,4591.7,4781.9,4967.7,5205.8,5739.3,6174.0
19,Maryland,6006401,6016447,6052177,6042718,6045680,6172679,6165129,351555.2,364142.9,...,0.061162,0.057960,0.060382,16423.4,16539.7,16912.5,17171.0,17383.1,18734.4,20129.7
20,Massachusetts,6794422,6811779,6859819,6902149,6892503,7022220,6984723,472610.4,477504.6,...,0.075120,0.073269,0.077977,23041.4,23632.2,24827.2,25265.3,26022.2,27816.0,29483.4
21,Michigan,9922576,9928300,9962311,9995915,9986857,10067664,10050811,446208.4,455780.7,...,0.046935,0.046124,0.048524,27613.7,28701.0,30196.9,30937.9,31818.1,34566.2,36522.7
22,Minnesota,5489594,5519952,5576606,5611179,5639632,5707165,5707390,320934.4,327150.2,...,0.060832,0.058862,0.061415,15122.1,15228.3,15554.8,16076.6,16339.4,17478.6,18342.5
23,Mississippi,2992333,2988726,2984100,2986530,2976149,2956870,2949965,100660.9,101285.0,...,0.034434,0.034837,0.035389,7889.2,7972.8,8151.6,8335.5,8557.9,9353.7,9723.1
24,Missouri,6083672,6093000,6113532,6126452,6137428,6154481,6168187,277194.9,281090.2,...,0.047612,0.047059,0.048380,15938.0,16283.1,16733.9,17101.8,17497.5,18942.5,20312.2
25,Montana,1032949,1042520,1050493,1062305,1068778,1086193,1104271,44856.0,45173.6,...,0.044121,0.044356,0.045254,3426.0,3449.7,3518.1,3663.1,3760.9,4048.5,4384.7
26,Nebraska,1896190,1907116,1920076,1929268,1934408,1961455,1963692,111822.4,114505.7,...,0.062427,0.062161,0.062402,5258.4,5420.3,5555.9,5695.6,5851.6,6368.7,6828.2
27,Nevada,2890845,2940058,2998039,3034392,3080156,3114071,3143991,138121.9,141952.9,...,0.051716,0.047826,0.052565,8679.5,8920.0,9338.3,9688.3,10098.1,11079.1,11896.1
28,New Hampshire,1330608,1334795,1342795,1356458,1359711,1377848,1388992,73616.1,73622.7,...,0.056370,0.057252,0.062126,4715.8,4863.0,5078.2,5198.1,5367.7,5849.0,6113.8
29,New Jersey,8958013,8944469,9005644,8908520,8882190,9279743,9267130,530144.9,535463.6,...,0.063319,0.058793,0.062282,28187.5,28315.6,29008.5,29548.5,30713.9,33192.4,35587.8
30,New Mexico,2085109,2081015,2088070,2095428,2096829,2117566,2115877,89226.0,88938.2,...,0.046093,0.043786,0.045160,5860.4,5957.0,6044.9,6155.9,6233.4,6803.5,7338.4
31,New York,19795791,19745289,19849399,19542209,19453561,20154933,19835913,1365521.5,1402596.0,...,0.077500,0.071974,0.078546,54709.1,55543.9,57599.8,60021.2,62591.2,67398.4,71346.8
32,North Carolina,10042802,10146788,10273419,10383620,10488084,10457177,10551162,476075.1,489494.6,...,0.049510,0.049732,0.052654,27532.6,28087.6,29069.8,30106.2,31942.9,36129.0,38305.9
33,North Dakota,756928,757953,755393,760077,762062,778962,774948,55600.0,52671.1,...,0.073922,0.068208,0.069107,2284.8,2284.2,2250.8,2273.4,2281.8,2419.0,2598.6
34,Ohio,11613423,11614373,11658609,11689442,11689100,11790587,11780017,581653.6,587939.3,...,0.052890,0.051870,0.054495,33735.0,34583.8,36437.7,37074.5,37712.7,40649.5,43004.9
35,Oklahoma,3911338,3923561,3930864,3943079,3956971,3962031,3986639,198501.2,191254.1,...,0.051090,0.048493,0.048541,8675.5,8767.2,8970.3,9211.5,9442.0,10339.4,10987.4
36,Oregon,4028977,4093465,4142776,4190713,4217737,4241544,4246155,191988.7,200521.2,...,0.052754,0.051861,0.055042,13277.7,13291.3,13683.3,14166.2,14730.5,16361.1,17427.0
37,Pennsylvania,12802503,12784227,12805537,12807060,12801989,12989625,12964056,684065.8,690539.4,...,0.056172,0.053447,0.055923,36451.8,37154.5,37711.5,38333.9,39252.7,41854.1,45258.3
38,Rhode Island,1056298,1056426,1059639,1057315,1059361,1096229,1095610,53084.5,53032.4,...,0.050522,0.048351,0.050994,3154.1,3260.5,3383.8,3521.2,3606.0,3895.7,4167.0
39,South Carolina,4896146,4961119,5024369,5084127,5148714,5130729,5190705,194513.1,200217.7,...,0.041978,0.041700,0.043276,14069.6,14570.1,14742.3,15354.6,15860.7,17615.3,18839.4
40,South Dakota,858469,865454,869666,882235,884659,887099,895376,46827.5,46539.7,...,0.053255,0.055165,0.055753,2346.6,2394.6,2406.0,2464.1,2528.2,2752.0,2955.3
41,Tennessee,6600299,6651194,6715984,6770010,6829174,6920119,6975218,306627.1,314435.8,...,0.048727,0.048393,0.051830,16695.3,16636.9,16710.6,17185.6,17712.7,19654.4,21037.8
42,Texas,27469114,27862596,28304596,28701845,28995881,29217653,29527941,1617560.7,1625938.6,...,0.062415,0.060776,0.062344,75734.9,77414.6,80181.5,82780.6,85054.2,95433.5,102502.4
43,Utah,2995919,3051217,3101833,3161105,3205958,3281684,3337975,143759.1,150823.9,...,0.054388,0.055088,0.057391,7575.2,7893.8,8192.8,8553.3,8884.4,9701.3,10386.5
44,Vermont,626042,624594,623657,626299,623989,642495,645570,29165.4,29449.5,...,0.048258,0.046370,0.048187,2347.5,2331.4,2359.9,2467.9,2518.1,2704.7,2868.4
45,Virginia,8382993,8411808,8470020,8517685,8535519,8632044,8642274,456691.0,465280.7,...,0.057856,0.056822,0.059715,24152.8,24907.4,26088.3,26600.7,27332.9,29855.8,32224.2
46,Washington,7170351,7288000,7405743,7535591,7614893,7718785,7738692,445178.2,466684.7,...,0.071108,0.071281,0.075574,23042.8,23279.5,24008.3,24918.8,25745.8,28993.2,30287.1
47,West Virginia,1844128,1831102,1815857,1805832,1792147,1789798,1782959,70422.3,69748.5,...,0.040481,0.039852,0.040329,5016.5,5158.0,5235.0,5253.0,5390.4,5821.4,6233.9
48,Wisconsin,5771337,5778709,5795483,5813568,5822434,5892323,5895908,290518.1,291927.6,...,0.052517,0.051109,0.052945,15735.9,15996.6,16553.5,16997.1,17290.0,18450.5,19384.4
49,Wyoming,586107,585501,579315,577737,578759,577267,578803,40111.1,36972.8,...,0.067256,0.061826,0.063001,1858.9,1884.2,1930.7,1976.1,2042.2,2221.6,2327.7

In [263]:
#Exporting all our final datasets into csv files
population_final.to_csv("population_final")
GDP_final.to_csv("GDP_final")
percapita_final.to_csv("percapita_income_final")
personal_consumption_final.to_csv("personal_consumption_final")

In [264]:
Revenue_final.to_csv("Revenue_final")

In [265]:
final_data.to_csv("final_data")